<div class="container-fluid">
  <div class="row bg-dark-blue">
    <div class="col-12 text-center mt-3 pt-4 pb-5">
      <a href="/organisateur/epreuves" class="btn btn-outline-light border-0 m-2"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>Mes événements</a>
      <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <a href="/event/{{data.id}}/dashboard" class="btn btn-outline-light border-0 m-2">{{data.name}}</a>
      <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <a href="/event/{{data.id}}" class="btn btn-outline-light m-2" ><i class="fa fa-eye mr-2"></i>Voir</a>
      <a href="/event/{{data.id}}/dashboard" class="btn btn-outline-light m-2"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Configurer</a>
      <a href="/inscription/recap/organisateur/{{data.id}}" class="btn btn-outline-light m-2"><i class="fa fa-users mr-2 "></i>Participants</a>
      <a href="#" class="btn btn-light m-2"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Communiquer</a>
      <a href="/chronometrage/event/{{data.id}}" class="btn btn-outline-light m-2"><i class="fa fa-file mr-2"></i>Chronométrage</a>
      <a href="/organisateur/comptabilite/{{user.id}}" class="btn btn-outline-light m-2"><i class="fa fa-university mr-2"></i>Comptabilité</a>
      <a href="/catalogue" class="btn btn-outline-light m-2"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Lots</a>
    </div>
  </div>
</div>
<div class="container-fluid">
	{{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
	{{/if}}
	{{#if single}}
		<form method="post" action="/organisateur/contacter/{{data.event.id}}/single/{{data.id}}">
	{{/if}}
	{{#if all}}
		<form method="post" action="/organisateur/contacter/{{data.id}}/all">
	{{/if}}
    <!-- MESSAGE-->
    <div class="row">
      <div class="col-sm-12 mt-5">
        <div class="form-group spacer-sm-top">
        	{{#if all}}
						<label>Messages pour les participants *</label><br>
        	{{else}}
        		<label>Messages pour le participant *</label><br>
        	{{/if}}
          <textarea name="description" id="" class="form-control" cols="30" rows="10" placeholder="Description de l'évènement" required>{{#if all}}Bonjour, nous vous contactons ce jour pour la raison suivante ...{{else}}Bonjour, nous avons constaté que votre inscription pour l'événement "{{data.eventName}}" à {{event.adresse.ville}} le {{date data.event.epreuves.[0].date_debut}} n'est pas complète. Merci d'ajouter un certificat valide de moins d'un an. Sportivement{{/if}}
          </textarea>
        </div>        
      </div>
    </div>
  	<button type="submit" class="btn btn-default">Envoyer</button>
	</form>
	<p class="legend"><br><em>* Champs obligatoire</em></p>
</div>