<div class="header container-fluid">
	<div class="jumbotron">
		<h1>Contacter {{participant.prenom}} {{participant.nom}}</h1>
	</div>
</div>
<div class="container-fluid">
	{{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
	{{/if}}
	{{#if single}}
		<form method="post" action="/organisateur/contacter/{{data.event.id}}/single/{{data.id}}">
	{{/if}}
	{{#if all}}
		<form method="post" action="/organisateur/contacter/{{data.id}}/all">
	{{/if}}
    <!-- MESSAGE-->
    <div class="row">
      <div class="col-sm-12 mt-5">
        <div class="form-group spacer-sm-top">
        	{{#if all}}
						<label>Messages pour les participants *</label><br>
        	{{else}}
        		<label>Messages pour le participant *</label><br>
        	{{/if}}
          <textarea name="description" id="" class="form-control" cols="30" rows="10" placeholder="Description de l'évènement" required>{{#if all}}Bonjour, nous vous contactons ce jour pour la raison suivante ...{{else}}Bonjour, nous avons constaté que votre inscription pour l'événement "{{data.eventName}}" à {{event.adresse.ville}} le {{date data.event.epreuves.[0].date_debut}} n'est pas complète. Merci d'ajouter un certificat valide de moins d'un an. Sportivement{{/if}}
          </textarea>
        </div>        
      </div>
    </div>
  	<button type="submit" class="btn btn-default">Envoyer</button>
	</form>
	<p class="legend"><br><em>* Champs obligatoire</em></p>
</div>