<div class="header container-fluid">
	<div class="jumbotron">
		<h1>Gérer mes épreuves</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-10 mx-auto spacer-sm-bottom">
			{{#if event}}
				<div class="row">
					<div class="col-12 spacer-sm-top spacer-sm-bottom">
						<h3>{{event.length}} évènements</h3>
					</div>
				</div>
				{{#each event}}
					<div class="row spacer-sm-top bg-light">
						<div class="col-md-3 spacer-sm-top spacer-sm-bottom">
							<strong>{{this.name}}</strong>				
							{{#if this.paiement}}
								<i class="fa fa-credit-card-alt text-success spacer-xs-left" aria-hidden="true" title="le paiement en ligne est accepté"></i>
							{{else}}
								<i class="fa fa-credit-card-alt text-muted spacer-xs-left" aria-hidden="true" title="le paiement en ligne n'est pas accepté"></i>
							{{/if}}
							{{#if this.certificat_required}}
								<i class="fa fa-file text-success spacer-xs-left" title="le certificat médical est requis pour s'inscrire"></i>
							{{else}}
								<i class="fa fa-file text-muted spacer-xs-left" title="le certificat médical n'est pas requis pour s'inscrire"></i>
							{{/if}}										
							{{#if this.dons}}
								<i class="fa fa-gratipay text-success spacer-xs-left" aria-hidden="true" title="L'événement accepte les dons"></i>
							{{else}}
								<i class="fa fa-gratipay text-muted spacer-xs-left" aria-hidden="true" title="L'événement n'accepte pas les dons"></i>
							{{/if}}	
							<br>
							<span class="text-secondary">
								{{this.adresse.ville}}. 
								<br>
								Clôture des inscriptions: {{date this.date_cloture_inscription}}
							</span>
						</div>
						<div class="col-md-5 mt-4">
							<a href="/event/{{this.id}}" class="spacer-sm-right"><i class="fa fa-eye spacer-xs-right"></i>Voir</strong></a> <a href="/event/edit/{{this.id}}" class="spacer-sm-right"><i class="fa fa-pencil spacer-xs-right"></i>Modifier</strong></a> <a href="/inscription/recap/organisateur/{{this.id}}" class="spacer-sm-right"><i class="fa fa-users spacer-xs-right"></i>Inscriptions</strong></a> <a href="/inscription/file/gmcap/{{this.id}}"><i class="fa fa-file spacer-xs-right"></i>GmCAP</a> <a href="/inscription/file/excel/{{this.id}}"><i class="fa fa-file spacer-xs-right"></i>Excel</a>							
						</div>
						<div class="col-md-4 mt-3">
			    		<span class="legend"><i class="fa fa-link spacer-xs-right txt-light-blue" aria-hidden="true"></i><strong>Lien pour les inscriptions : </strong><a href="/event/{{this.id}}" target="_blank">https://event.izir.fr/event/{{this.id}}</a> <strong>partagez moi sur </strong><a href="https://facebook.com" rel="nofollow" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="https://twitter.com" rel="nofollow" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></span>							
						</div>			
					</div>
				{{/each}}
			{{else}}
				<p class="alert alert-danger">Vous n'avez pas encore créé d'épreuve</p>
				<a href="/event/create" class="btn btn-default">Créer maintenant</a>
			{{/if}}		
		</div>
	</div>
</div>