<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 spacer-md-top">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <span class="h4 mt-5">L'événement</span>
          <ul class="mt-2 mb-5">
            <li class="mb-2"><strong>{{data.registration.event.adresse.ville}} {{results.event.adresse.codePostal}}</strong></li>
            {{#each data.registration.event.epreuves}}
              <li class="mb-2">{{this.name}} - le {{date this.date_debut}} à {{dateHours this.date_debut}}h{{dateMinutes this.date_debut}} -  {{this.distance}}Km</li>
            {{/each}}
          </ul>
          <span class="h4 mt-5">Récapitulatif</span>
          <ul class="mt-2">
            <li class="mb-2"><strong>Produit - Total TTC</strong></li>
            {{#each data.registration.produits}}
              <li class="text-muted">{{this.produitsRef}}: {{this.produitsSubTotal}} €</li>                
            {{/each}}
            {{#if data.registration.event.paiement}}
              <li class="text-muted">Frais de paiement en ligne: 0,50 €</li>
            {{/if}}              
            <li class="border border-right-0 border-bottom-0 border-left-0 border-dark mt-2"><strong class="d-block mt-2">Total de l'inscription: {{data.orderAmount}} €</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8 spacer-md-top" id="divForm">
      <h1 class="text-lowercase text-center spacer-md-bottom">Inscription {{data.registration.event.name}}</h1>
        <div class="row">
          <div class="col-3 text-center">
            <strong class="text-secondary" id="header-epreuve">1. Epreuve</strong>
          </div>
          <div class="col-3 text-center">
            <strong class="text-secondary" id="header-participant">2. Participant</strong>
          </div>
          <div class="col-3 text-center">
            <strong class="text-secondary" id="header-confirmation">3. Récapitulatif</strong>
          </div>
          <div class="col-3 text-center spacer-sm-bottom">
            <strong class="txt-dark-blue" id="header-paiement">4. Paiement</strong>
          </div>
        </div>
      <form method="post" action="/inscription/checkout/{{data.registration.id}}" id="checkout-form">
        <input type="hidden" name="stripe" value="{{data.stripe}}">
        <input type="hidden" name="event" value="{{data.registration.event.name}}">

        <div class="row">
          <div class="col-10 mx-auto">  
            <div>      
            <!-- PAIEMENT ACCEPTED-->
            {{#if data.registration.event.paiement}}
              <!-- paiement CB already done -->
              {{#if data.registration.paiement.captured}}
                <p>Votre inscription est finalisée, aucune action n'est requise de votre part.</p>
                <p>Votre référence de paiement est : {{data.registration.paiement.id}}</p>
                <p>Pour toute question relative à votre inscription, merci de contacter le service client via le chat en bas de l'écran.</p>
                <p>Pour toute question relative à l'épreuve, merci de contacter le l'organisateur de celle-ci.</p>
                <p>Merci de votre compréhension.</p> 
              <!-- paiement to do -->
              {{else}}
                <!-- other paiement option already choose and accept by organisateur -->
                {{#if data.registration.paiement.other_captured}}
                  <p>L'organisateur à bien reçus votre paiement, l'inscription est finalisée, aucune action supplémenatire n'est requise de votre part.</p>
                  <p>Pour toute question relative à votre inscription, merci de contacter le service client via le chat en bas de l'écran.</p>
                  <p>Pour toute question relative à l'épreuve, merci de contacter le l'organisateur de celle-ci.</p>
                  <p>Merci de votre compréhension.</p>                  
                {{else}}
                  <!-- other paiement option already choose and BUT NOT accept by organisateur -->
                  {{#if data.registration.paiement.other}}
                    <p class="spacer-sm-bottom"><strong>Vous avez choisi un paiement par chèque / espèce pour valider votre inscription.</strong> Ce règlement sera à envoyer à l'adresse de la permanance de l'organisation de l'évènement (si le delai postal le permet) ou à donner en main propre au guichet de l'organisation lorsque que vous vous présenterez à l'évènement. L'organisateur validera votre inscription après réception de son paiement.</p>
                  {{else}}
                    <!-- paiement to action -->
                    <div class="row">
                      <div class="col-12 alert alert-warning text-center">
                        <span><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>Votre place n'est pas encore garantie. Aucun paiement n'est enregistré. Pour finaliser votre inscription, merci de choisir l'un des modes de paiement ci-dessous.</span>
                      </div>
                    </div>
                    <div class="row border border-muted mb-3 paiement_option">
                      <div class="col-10 mx-auto mt-2 mb-2">
                        <div class="row">
                          <div class="col-12">
                            <span class="btn btn-muted mr-3"><i class="fa fa-check-square paiement_option_checkbox" aria-hidden="true"></i></span><strong>Paiement par carte bancaire</strong>                            
                          </div>
                        </div>
                        <div class="paiement_option_sub">
                          <div class="row">
                            <div class="col-12">
                              <p>Informations sur ce moyen de paiement</p>
                              <p>Ce règlement garantie votre place et valide votre inscription instantanément. En le choississant, finie la queue au gichet le jour de l'événement pour payer l'inscription.</p>
                              <div class="row">
                                <div class="col-sm-3">
                                  <img class="img-fluid mt-2 mb-2" src="/img/rect3737.png" alt="Paiement sécurisé" width="50" height="50">
                                </div>
                                <div class="col-sm-9">
                                  <p class="mb-2 mt-2 "><strong>Paiement 100% sécurisé</strong></p>
                                  <img class="img-fluid" src="/img/cb-visa-mastercard.png" alt="Paiement sécurisé" width="auto" height="100%">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 mt-2">
                              <script 
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                input-type="submit"
                                data-label="Valider mon paiement et mon inscription"
                                data-email="{{data.registration.participant.email}}"
                                data-key="{{data.stripeFrontKey}}"
                                data-amount="{{data.stripe}}"
                                data-name="event.izir"
                                data-description="{{data.registration.eventName}}"
                                data-locale="auto"
                                data-currency="EUR"
                                > 
                              </script> 
                            </div>
                          </div>                          
                        </div>
                      </div>
                    </div>
                    <div class="row border border-muted mb-3 paiement_option">
                      <div class="col-10 mx-auto mt-2 mb-2">
                        <div class="row">
                          <div class="col-12">
                            <span class="btn btn-muted mr-3"><i class="fa fa-square-o paiement_option_checkbox" aria-hidden="true"></i></span><strong>Paiement par chèque / espèce</strong>  
                          </div>
                        </div>
                        <div class="hidde paiement_option_sub">
                          <div class="row">
                            <div class="col-12">
                              <p>Informations sur ce moyen de paiement</p>
                              <p>Ce règlement sera à envoyer à l'adresse de la permanance de l'organisation de l'évènement (si le delai postal le permet) ou à donner en main propre au guichet de l'organisation lorsque que vous vous présenterez à l'évènement. L'organisateur validera votre inscription après réception de son paiement. Votre place n'est donc pas garantie.</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <a href="/inscription/checkout/{{data.registration.id}}/other-paiement" class="btn btn-secondary d-block spacer-xs-top" id="other-checkout">Valider mon paiement et mon inscription</a>
                            </div>
                          </div>                          
                        </div>
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
              {{/if}}
            <!-- PAIEMENT NOT ACCEPTED-->
            {{else}}
              <div class="col-12 alert alert-warning spacer-sm-top">
                <p>Votre inscription a bien été prise en compte.</p>
                <p>Vous ne pouvez pas payer votre inscription car l'organisateur n'a pas activé cette fonctionnalité. L'organisateur vous demandera donc de payer les votre inscription au guichet de l'événement.</p>
                <p>Merci de votre compréhension.</p>
              </div>
            {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>