<div class="header container-fluid">
  <div class="jumbotron">
    <h1>Toutes mes inscriptions</h1>
  </div>
</div>
<div class="container-fluid">

  {{#if registrations}}

    <div class="row bg-dark-blue txt-white text-center pb-3 pt-3">
      <div class="col-md-3">Dossier</div>
      <div class="col-md-3">Participant</div>
      <div class="col-md-2">Evènement</div>
      <div class="col-md-2">Paiement</div>
      <div class="col-md-1">Docs</div>
      <div class="col-md-1">Actions</div>
    </div>

    {{#each registrations}}
      
      <!-- dossier -->
      <div class="row text-lowercase mt-2 pb-2 border border-top-0 border-right-0 border-left-0">
        <div class="col-md-3">
          <strong>
            {{#if this.organisateur_validation.all}}
              <i class="fa fa-check text-success mr-2" aria-hidden="true"></i>Validé par l'organisateur
            {{else}}
              <i class="fa fa-pause text-warning mr-2" aria-hidden="true"></i>En attente de validation par l'organisateur
            {{/if}}
          </strong>
          <br>
          <span class="text-secondary">du: {{date this.created_at}}</span>
          <br>
          <span class="text-secondary text-uppercase">n°: {{this.id}}</span>          
        </div>

        <!-- participant -->
        <div class="col-md-3 text-capitalize">
          {{#if this.options.epreuve_format.team}}
            Equipe:  {{this.participant.team}}
            <br>
            Capitaine: <strong>{{this.participant.nom}}</strong> {{this.participant.prenom}}
          {{else}}
            <strong>{{this.participant.nom}}</strong> {{this.participant.prenom}}
            <br>
            <span class="text-secondary">{{this.participant.sex}}</span>
            <br>
            <span class="text-secondary">{{this.participant.dateNaissance}}</span>
            <br>
            <span class="text-secondary">{{this.participant.team}}</span>            
          {{/if}}
        </div>

        <!-- événement -->
        <div class="col-md-2">
          <strong><a href="/event/{{this.event.id}}">{{this.event.name}}</a></strong>
          <br>
          <span class="text-secondary">{{this.event.adresse.codePostal}} {{this.event.adresse.ville}}</span>          
        </div>

        <!-- paiement -->
        <div class="col-md-2">
          {{#if this.event.paiement}}
            Méthode : 
            {{#if this.paiement.captured}}
              CB
              <br>
              <span class="text-secondary">N°: {{this.paiement.id}}</span>
            {{else}}
              {{#if this.paiement.other_captured}}
                Chèque / Espèce 
              {{else}}
                {{#if this.paiement.other}}
                  Méthode : Chèque / Espèce
                  <br>
                  <span class="text-secondary">Paiement en direct à l'organisation</span>
                {{else}}
                  <span class="text-danger">Non Payé</span>
                {{/if}}
              {{/if}}             
            {{/if}} 
          {{else}}
            L'organisateur n'a pas activé les paiements en ligne
          {{/if}}
        </div>
 
        <!-- docs -->
        <div class="col-md-1 text-center">
          {{#if this.event.certificat_required}}
            {{#if this.docs.certificat}}
              <a href="{{this.docs.certificat}}" target="_blank"><i class="fa fa-file text-success" aria-hidden="true"></i></a>
            {{else}}
              <i class="fa fa-file text-danger" aria-hidden="true"></i>
            {{/if}}  
          {{else}}
            <i class="fa fa-file text-muted" aria-hidden="true"></i>
          {{/if}}
        
        </div>

        <!-- actions -->
        <div class="col-md-1 text-capitalize text-center">
          <div class="btn-group w-80" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="/inscription/cart/{{this.id}}/participant?origine=recap_user">Participant</a>
              {{#if event.paiement}}
                <a class="dropdown-item" href="/inscription/checkout/{{this.id}}?origine=recap_user">Paiement</a>
              {{/if}}
              {{#if event.certificat_required}}
                <a class="dropdown-item" href="/inscription/cart/{{this.id}}/certificat?origine=recap_user">Certificat</a>
              {{/if}}
            </div>
          </div>        
        </div>
      </div>
    {{/each}}
  {{else}}
  <div class="row">
    <div class="col-12">
      <p class="alert alert-danger">Vous ne vous êtes pas encore inscrit à une épreuve</p>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="col-sm-3 text-center mx-auto mt-3 mb-5 text-center">
      <a href="/event/finder" class="btn btn-default">Trouver une épreuve maintenant</a>
    </div>
  </div>