<div class="container-fluid">
  <div class="row bg-dark-blue">
    <div class="col-12 text-center mt-3 pt-4 pb-5">
      <a href="/organisateur/events" class="btn btn-outline-light border-0 m-2"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>Mes événements</a>
      <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <a href="/event/{{event.id}}/dashboard" class="btn btn-outline-light border-0 m-2">{{event.name}}</a>
      <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <a href="/event/{{event.id}}" class="btn btn-outline-light m-2" ><i class="fa fa-eye mr-2"></i>Voir</a>
      <a href="/event/{{event.id}}/dashboard" class="btn btn-outline-light m-2"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Configurer</a>
      <a href="/inscription/recap/organisateur/{{event.id}}" class="btn btn-light m-2"><i class="fa fa-users mr-2 "></i>Participants</a>
      <a href="/organisateur/event/{{event.id}}/messages" class="btn btn-outline-light m-2"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Messagerie</a>
      <a href="/chronometrage/event/{{event.id}}" class="btn btn-outline-light m-2"><i class="fa fa-file mr-2"></i>Chronométrage</a>
      <a href="/organisateur/comptabilite/{{user.id}}" class="btn btn-outline-light m-2"><i class="fa fa-university mr-2"></i>Comptabilité</a>
      <a href="https://shop.izir.fr" class="btn btn-outline-light m-2"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Lots</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 pt-5 bg-light text-center">
      <div class="d-block">
        <a href="/event/{{event.id}}" class="d-block btn btn-secondary shadow rounded-0 border-0 my-2">Ajouter un participant</a>
        <a href="/organisateur/event/{{event.id}}/messages" class="d-block btn btn-secondary shadow rounded-0 border-0 my-3">Contacter les participants</a>
        {{#if event.options}}
          <a href="/organisateur/event/{{event.id}}/options" class="d-block btn btn-secondary shadow rounded-0 border-0 my-3">Options</a>
        {{/if}}
      </div>
      
      <div class="d-block">
        <span class="h3 d-block pb-3">Récapitulatif</span>
      </div>
      <div class="d-block p-4">
        <div class="d-block p-2">
          <span class="h1">
            <i class="fa fa-users mr-2 text-muted"></i>{{inscriptions.length}}
          </span>
          <span class="text-muted d-block">Inscriptions</span>
        </div>
      </div>
      <div class="d-block p-4">
        <div class="d-block p-2">
          <span class="h1">
            <i class="fa fa-folder mr-2 text-muted" aria-hidden="true"></i>{{dossiers_complets}}
          </span>
          <span class="text-muted d-block">inscriptions complêtes</span>
        </div>
        <span class="text-muted d-block">{{paiements.paiements_all.length}} dossiers payés</span>
        <span class="d-block text-muted">
          <i class="fa fa-credit-card-alt mr-2"></i>{{paiements.paiements_cb.length}} cartes bancaires
        </span>
      </div>
      <div class="d-block p-4">
        <div class="d-block p-2">
          <span class="h1">
            {{paiements.total.paiements_all}}€
          </span>
          <span class="text-muted d-block">encaissés</span>
        </div>
        <span class="d-block text-muted">
          <i class="fa fa-credit-card-alt mr-2"></i>{{paiements.total.paiements_cb}}€ cartes bancaires
        </span>    
      </div>   
    </div>
    <div class="col-md-10">
      <div class="row my-5 ">
        <div class="col-12 px-3">
          <div class="d-md-flex d-sm-block justify-content-between bg-light py-4 border border-muted shadow">
            <div class="my-auto d-sm-block d-md-flex px-3 font-weight-bold w-50 my-2">
              {{inscriptions.length}} participants
            </div>
            <form id="org-dashboard-filter" class="d-md-flex d-sm-block mx-auto w-100 justify-content-between pr-3 my-2">
              <div class="my-auto px-3 d-flex w-100">
                <span class="font-weight-bold  d-block w-100 text-right pr-2 pt-2">
                  Filtrer l'épreuve: 
                </span>
                <select class="form-control " id="epreuve-filter" name="epreuve">
                  <option value="all">Toutes</option>
                  {{#each event.epreuves}}
                    <option value="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="my-auto px-3 d-flex w-100">
                <span class="font-weight-bold d-block w-100 text-right pr-2 pt-2">
                  Trier par: 
                </span>
                <select name="sort" class="form-control " >
                  <option value="alpha">Ordre alphabétique</option>
                  <option value="date">Dernières inscriptions</option>
                  <option value="certificats">Certificat invalidés en premier</option>
                  <option value="paiements">Non payé en premier</option>
                </select>
              </div> 
              <button type="submit" class="btn btn-secondary">Appliquer</button>
            </form>            
          </div>
 
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{#if inscriptions}}

            {{#each inscriptions}}  
              
              <div class="row m-3 pb-2 pt-2 border border-muted shadow" id="{{this._id}}">

                <!-- dossier d'inscription -->
                <div class="col-md-3 text-uppercase">
                  {{#if this.DOSSIER_VALIDATE}}
                    <small class="badge badge-success">
                      Dossier validé
                    </small>
                  {{else}}
                    <small class="">
                      <a class="badge badge-warning organisateur-dashboard-confirm-action font-weight-bold" href="/inscription/checkout/{{this.DOSSIER}}/validate">Dossier non validé</a>
                    </small>
                  {{/if}}  
                  {{#each this.COURSE}}
                    <div class="font-weight-bold text-lowercase d-block">
                      <div>
                        {{this.name}}               
                      </div>
                    </div>
                  {{/each}}            
                  <small class="d-block text-muted">N°: {{this.DOSSIER}}</small>
                  <small class="d-block text-muted">Du : {{date this.CREATED_AT}}</small>  
                  <small class="d-block mr-2 text-muted nom">CONTACT: <span class="text-lowercase">{{this.CONTACT}}</span></small>        
                </div>

                <!-- participant -->
                <div class="col-md-3">
                  <span class="text-capitalize"><strong>{{this.NOM}}</strong> {{this.PRENOM}}</span>
                  <br>
                  {{#if this.ORGANISME}}
                    <small class="d-block text-muted text-uppercase">TEAM: {{this.ORGANISME}}</small>
                  {{else}}
                    <small class="d-block text-muted text-uppercase">CLUB: {{this.CLUB}}</small>
                  {{/if}}
                  <small class="d-block text-muted">{{this.SEXE}}</small>
                  <small class="d-block text-muted">Licence N°:
                    {{#if this.LICENSE}}
                      {{this.LICENSE}}
                    {{else}}
                      NC
                    {{/if}}
                  </small>          
                </div>

                <!-- paiement -->
                <div class="col-md-3">
                  {{#if this.PAYE.cb}}
                    <span class=" badge badge-success paiementNumber"><i class="fa fa-check text-white mx-2" aria-hidden="true"></i>Paiement validé</span>
                    <br>
                    <small class="text-muted">{{this.ORDER_AMOUNT}}€ - CB</small>
                  {{else}}
                    {{#if this.PAYE.other_captured}}
                      <span class=" badge badge-success paiementNumber"><i class="fa fa-check text-white mx-2" aria-hidden="true"></i>Paiement validé</span>
                      <br>
                      <small class="text-muted">{{this.ORDER_AMOUNT}}€ - Chèque / Espèce</small>
                    {{else}}
                      <span class="badge badge-warning">Paiement à confirmer</span>
                      <!-- <span class="btn btn-warning">Confirmer</span> -->
                      <br>
                      <small class="text-muted">{{this.ORDER_AMOUNT}}€ - Chèque / Espèce</small>
                    {{/if}}
                  {{/if}}        
                </div>

                <!-- certificat -->
                <div class="col-md-1">
                  {{#if this.CERTIF_MEDICAL}}
                    <a href="{{this.CERTIF_MEDICAL}}" target="_blank" class="badge badge-success">
                      <i class="fa fa-file text-white mx-2" aria-hidden="true"></i>Certificat
                    </a>
                  {{else}}
                    <span class="badge badge-danger">
                      <i class="fa fa-times text-white mx-2" aria-hidden="true"></i>Certificat
                    </span>
                  {{/if}}          
                </div>

                <!-- actions -->
                <div class="col-md-2 text-center my-auto">
                  <div class="btn-group w-80" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      {{#if this.PAYE.cb}}
                      {{else}}
                        {{#if this.PAYE.other_captured}}
                        {{else}}
                          <a href="/inscription/checkout/{{this.DOSSIER}}/other-captured" title="Confirmer la réception du paiement" class="dropdown-item organisateur-dashboard-confirm-action">Confirmer le paiement</a>
                        {{/if}}
                      {{/if}}

                      {{#if this.DOSSIER_VALIDATE}}
                      {{else}}
                        <a class="dropdown-item organisateur-dashboard-confirm-action" href="/inscription/{{this.DOSSIER}}/certificat/reject">Rejeter le certificat</a>
                        <a class="dropdown-item organisateur-dashboard-confirm-action" href="/inscription/checkout/{{this.DOSSIER}}/validate">Valider le dossier</a>
                      {{/if}}
                      <a class="dropdown-item" href="/organisateur/event/{{../event.id}}/messages?contact={{this.CONTACT_ID}}&registration={{this.DOSSIER}}">Contacter le participant</a>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <div class="row my-5">
              <div class="col-12">
                <p class="alert alert-danger text-center">Vous n'avez pas encore de participants inscrit à votre épreuve, n'oubliez pas de faire la promotion de celle-ci sans plus attendre !</p>
                <p>Besoin d'aide ? Contacter notre commercial Guenael (guenael.r@izir.fr) pour nouer un partenariat avec nous et profiter de l'audience de nos réseaux, ainsi que celle de runnerbreizh.fr</p>
              </div>      
            </div>
          {{/if}}            
        </div>
      </div>
    </div>    
  </div>
</div>