<div class="container-fluid" id="certificat-team">
  <div class="row">
    <div class="col-sm-4">
      <div class="row sticky-top">
        <div class="col-sm-12">
          {{#if results.event.docs.img}}
            <img src="{{results.event.docs.img.[0]}}" alt="{{results.event.name}}" class="img-fluid">
          {{else}}
            <img src="/img/thumb.png" alt="{{results.event.name}}" class="img-fluid">
          {{/if}}
            <ul>
              <li><strong>Lieu :</strong> {{results.event.adresse.ville}} {{results.event.adresse.codePostal}}</li>
            </ul>
          {{#each results.event.epreuves}}
            <ul class="spacer-sm-top">
              <li><strong>Epreuve :</strong> {{this.name}}</li>
              <li><strong>Discipline :</strong> {{this.discipline}}</li>
              <li><strong>Date :</strong> {{date this.date_debut}} à {{dateHours this.date_debut}}h{{dateMinutes this.date_debut}}</li>
              <li><strong>Distance :</strong> {{this.distance}}Km</li>
              <li><strong>Denivelé + :</strong> {{this.denivele}} mètres</li>
              <li><strong>Nombre de participants maximum:</strong> {{this.placesDispo}}</li>
              <li><strong>Tarif:</strong> {{this.tarif}}€</li> 
            </ul>
          {{/each}}
        </div>
      </div>      
    </div>

    <!--formulaire d'inscription block-->
    <div class="col-sm-8 bg-light" id="divForm">
      
      <div class="sticky-top">

        <!-- titre -->
        <div class="row">
          <div class="col-11 mx-auto mt-3">
            <div class="row">
              <div class="col-12 bg-white border border-right-0 border-left-0 border-top-0">
                <h1 class="d-block mt-5 mb-5 text-lowercase text-center">
                  Votre inscription - {{results.event.name}}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <!--formulaire d'inscription-->
        <div class="row" id="step-epreuve">
          <div class="col-11 mx-auto mt-3 bg-white">

            <!--Step 1. epreuve-->

            <!-- epreuves -->
            <div class="row">
              <div class="col-12">
                <strong class="d-block mt-3 mb-3 ml-2 text-lowercase text-left">
                  Panier
                </strong>
              </div>
            </div>
            {{#each results.produits}}
              <div class="row mb-3">

                <!-- quantité -->
                <div class="col-3">
                  <span>{{this.produitsQuantite}}</span>                
                </div>

                <!-- epreuve name -->
                <div class="col-7 ">
                  <span>
                      {{this.produitsRef}}
                  </span>
                </div>

                <!-- subtotal -->
                <div class="col-2 text-right subtotal">
                  <span>{{this.produitsSubTotal}}</span> EUR
                </div>
              </div>
            {{/each}}             
          </div>
        </div>

        <!-- total -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="row bg-dark-blue">
              <div class="col-8 text-white">
                <strong class="d-block mt-3 mb-3 text-lowercase text-left">
                 Total ttc
                </strong>
              </div>
              <div class="col-4" id="total-ttc">
                <strong class="d-block mt-3 mb-3 text-white text-right">
                  <span>{{results.orderAmount}}</span> EUR
                </strong>
              </div>
            </div>
          </div>
        </div>

        <!-- checkout nav -->
        <div class="row mb-3 mt-3">
          <div class="col-11 mx-auto bg-white">
            <div class="row">

              <!-- nav participant -->
              <div class="col-12 border border-left-0 border-right-0 border-top-0">
                <span class="d-block mt-2 mb-2">
                  <i class="fa fa-check text-success" aria-hidden="true"></i> Participant
                </span>
              </div>

              <!-- nav paiement -->
              {{#if results.event.paiement}}
              <div class="col-12 border border-left-0 border-right-0 border-top-0">
                <span class="d-block mt-2 mb-2">
                  <i class="fa fa-check text-success" aria-hidden="true"></i> Paiement
                </span>
              </div>
              {{/if}}

              <!-- nav certificat -->
              <div class="col-12 border border-left-0 border-right-0 border-top-0 text-center">
                <div class="row text-left">
                  <div class="col-12">
                    <span class="d-block mt-2 mb-2">
                      <strong class="text-muted ">
                        Certificat
                      </strong>                          
                    </span>
                  </div>
                </div>

                <div class="row">
                  {{#each results.team}}
                  <div class="col-12 mx-auto text-center certificat_count">
                    <div class="row">
                      <div class="col-md-4 mt-2">
                        <i class="fa fa-user" aria-hidden="true"></i>{{this.nom}} {{this.prenom}}
                      </div>
                      <div class="col-md-8 mb-2">
                        <a href="/inscription/cart/{{../results.id}}/certificat?membre={{this.id}}" class="btn btn-warning mr-3">
                          <i class="fa fa-plus text-danger" aria-hidden="true"></i> Ajouter / Remplacer
                        </a>
                        {{#if this.docs.certificat}}  
                          <a href="{{this.docs.certificat}}"" target="_blank" class="btn btn-outline-primary">          
                            <i class="fa fa-eye text-success" aria-hidden="true"></i> Voir
                          </a>
                          <input type="hidden" value="true" name="certificat_validation">
                        {{else}}         
                          <i class="fa fa-eye text-muted" aria-hidden="true"></i> Voir
                        {{/if}}                        
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
              <!-- nav confirmation               -->
              <div class="col-12 border border-left-0 border-right-0 border-top-0">
                <span class="d-block mt-2 mb-2">
                  <i class="fa fa-check text-muted" aria-hidden="true"></i> Confirmation
                </span>
              </div> 
            </div>
          </div>
        </div>

        <div class="col-11 mx-auto">
          <!-- user helper  -->
          <div class="row" id="participant-validation-warning">
            <div class="col-11 mx-auto alert alert-warning">
              <p class="">
                <p>Pour continuer votre inscription, vérifiez :</p>
                <ul>
                  <li>- que TOUS les certificats ont bien été ajoutés </li>
                </ul> 
              </ul>                 
            </div>
          </div>

          <div class="row">
            <div class="col-6 mb-5 text-center">
              <a class="btn btn-outline-primary" href="/event/{{results.event.id}}">Détails de l'évènement</a>
            </div>
            <div class="col-6 text-center">
              <a href="/inscription/checkout/{{results.id}}/confirmation" class="btn btn-secondary disabled" id="certificats_team_submit">Continuer</a>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="{{results.event.date_cloture_inscription}}" name="dateLimite">
