<div class="container">
  <div class="row">

    <!--formulaire d'inscription block-->
    <div class="col-12 bg-light shadow" id="divForm">

      <!-- titre -->
      <div class="row">
        <div class="col-11 mx-auto mt-3">
          <div class="row">
            <div class="col-12 bg-white shadow">
              <h1 class="d-block mt-5 mb-5 text-lowercase text-center">
                Votre inscription - {{results.event.name}}
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- nav certificat -->
        <div class="col-11 mx-auto bg-white shadow rounded p-3">
          <div class="row text-left">
            <div class="col-12">
              <span class="d-block mt-2 mb-2">
                <strong class="text-muted ">
                  Certificat
                </strong>                          
              </span>
            </div>
          </div>

          <div class="row">
            {{#each results.team}}
            <div class="col-12 mx-auto text-center certificat_count">
              <div class="row">
                <div class="col-md-4 mt-2">
                  <i class="fa fa-user" aria-hidden="true"></i>{{this.nom}} {{this.prenom}}
                </div>
                <div class="col-md-8 mb-2">
                  <a href="/inscription/{{../results.id}}/certificat?membre={{this.id}}" class="btn btn-warning mr-3">
                    <i class="fa fa-plus text-danger" aria-hidden="true"></i> Ajouter / Remplacer
                  </a>
                  {{#if this.docs.certificat}}  
                    <a href="{{this.docs.certificat}}"" target="_blank" class="btn btn-outline-primary">          
                      <i class="fa fa-eye text-success" aria-hidden="true"></i> Voir
                    </a>
                    <input type="hidden" value="true" name="certificat_validation">
                  {{else}}         
                    <i class="fa fa-eye text-muted" aria-hidden="true"></i> Voir
                  {{/if}}                        
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>        
      </div>
      <!-- user helper  -->
      <div class="row my-3" id="participant-validation-warning">
        <div class="col-11 mx-auto alert alert-warning">
          <p class="">
            <p>Pour continuer votre inscription, vérifiez :</p>
            <ul>
              <li>- que TOUS les certificats ont bien été ajoutés </li>
            </ul> 
          </ul>                 
        </div>
      </div>

      <div class="row p-3">
        <div class="col-12 text-center">
          <a href="/inscription/recap/user/{{user.id}}" class="btn btn-secondary" id="certificats_team_submit">Continuer →</a>
        </div>
      </div>  
    </div>
  </div>
</div>
<input type="hidden" value="{{results.event.date_cloture_inscription}}" name="dateLimite">
