<div class="container">
  <div class="row">

    <!--formulaire d'inscription block-->
    <div class="col-12 bg-light shadow" id="divForm">

      <!-- titre -->
      <div class="row">
        <div class="col-11 mx-auto mt-3">
          <div class="row">
            <div class="col-12 bg-white shadow">
              <h1 class="d-block mt-5 mb-5 text-lowercase text-center">
                Votre inscription - {{results.event.name}}
              </h1>
            </div>
          </div>
        </div>
      </div>

      <!--formulaire d'inscription-->
      <form id="team-form" class="" method="POST" action="/inscription/{{results.id}}/team/post">
        <input type="hidden" name="team_max" value="{{results.options.team_limits.max}}">
        <input type="hidden" name="team_min" value="{{results.options.team_limits.min}}">

        <div class="row" id="step-epreuve">
          <div class="col-11 mx-auto bg-white shadow rounded p-3">
            <div class="row">
              <div class="col-12">
                <!-- l'équipe -->
                <div class="row">
                  <div class="col-11 mx-auto text-center bg-light-blue text-white">
                    <p class="mt-2 h5">L'équipe</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-3 ">
                    <div class="form-group">
                      Nom de l'équipe *
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-team-validation" name="capitaine_team" value="{{user.team}}" required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-11 mx-auto text-center bg-light-blue text-white">
                    <p class="mt-2 h5">Le capitaine</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-3">
                    <div class="form-group">
                      Nom du capitaine *
                    </div>
                  </div>
                  <div class="col-9">
                    <input type="text" class="form-control input-team-validation" name="capitaine_name" value="{{user.surname}}" required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-3">
                    <div class="form-group">
                      Prénom du capitaine *
                    </div>
                  </div>
                  <div class="col-9">
                    <input type="text" class="form-control input-team-validation" name="capitaine_surname" value="{{user.name}}" required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-3">
                    <div class="form-group">
                      Code postal *
                    </div>
                  </div>
                  <div class="col-9">
                    <input type="text" class="form-control input-team-validation" name="capitaine_cp" value="{{user.codePostal}}" required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-3">
                    <div class="form-group">
                      Ville *
                    </div>
                  </div>
                  <div class="col-9">
                    <input type="text" class="form-control input-team-validation" name="capitaine_city" value="{{user.city}}" required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-3">
                    <div class="form-group">
                      Email *
                    </div>
                  </div>
                  <div class="col-9">
                    <input type="email" class="form-control input-team-validation" name="capitaine_email" value="{{user.email}}" required>
                  </div>
                </div>

                <!-- les membres -->
                <div class="row mt-3">
                  <div class="col-11 mx-auto text-center mt-2 mb-2 bg-light-blue text-white">
                    <p class="mt-2 h5">Les membres</p>
                  </div>
                </div>

                {{#if results.team}}
                  {{#each results.team}}
                    <div class="row team-count" id="team-member">
                      <div class="col-11 mx-auto bg-light mb-2">
                        <div class="row mt-2">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="member_nom">Nom du membre *</label>
                              <input type="text" class="form-control input-team-validation" name="member_nom" value="{{this.nom}}" required>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="member_prenom">Prénom du membre *</label>
                              <input type="text" class="form-control input-team-validation" name="member_prenom" value="{{this.prenom}}" required>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="">Sexe *</label>
                              <input type="text" class="form-control input-team-validation" name="member_sex" value="{{this.sex}}" required>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="">N° de license</label>
                              <input type="text" class="form-control input-team-validation" name="member_license" value="{{this.numLicence}}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <label>Date de naissance (jour/mois/année)*</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <select class="form-control membre_birth_day input-team-validation" name="membre_birth_day" required>
                                <option value="{{this.birthday.jour}}">{{this.birthday.jour}}</option>
                                {{#each date_list.day}}
                                  <option value="{{this.value}}">{{this.value}}</option>
                                {{/each}}
                              </select>                     
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <select class="form-control membre_birth_month input-team-validation" name="membre_birth_month" required>
                                <option value="{{this.birthday.mois}}">{{dateMonthText this.birthday.mois}}</option>
                                {{#each date_list.month}}
                                  <option value="{{this.value}}">{{this.value}}</option>
                                {{/each}}
                              </select>                     
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <input class="form-control input-team-validation" type="number" placeholder="2018"  min="1900" step="1" value="{{this.birthday.annee}}" name="membre_birth_year" required>                      
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="member_email">Email du membre *</label>
                              <input type="email" class="form-control input-team-validation" name="member_email" value="{{this.email}}" required>
                            </div>
                          </div>
                        </div>            
                      </div>
                    </div>
                  {{/each}}
                {{else}}
                  <div class="row team-count" id="team-member">
                    <div class="col-11 mx-auto bg-light mb-2">
                      <div class="row mt-2">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="member_nom">Nom du membre *</label>
                            <input type="text" class="form-control input-team-validation" name="member_nom" value="" required>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="member_prenom">Prénom du membre *</label>
                            <input type="text" class="form-control input-team-validation" name="member_prenom" value="" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="">Sexe *</label>
                            <input type="text" class="form-control input-team-validation" name="member_sex" value="" required>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="">N° de license</label>
                            <input type="text" class="form-control input-team-validation" name="member_license" value="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <label>Date de naissance (jour/mois/année)*</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <select class="form-control membre_birth_day input-team-validation" name="membre_birth_day" required>
                              {{#each date_list.day}}
                                <option value="{{this.value}}">{{this.value}}</option>
                              {{/each}}
                            </select>                     
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <select class="form-control membre_birth_month input-team-validation" name="membre_birth_month" required>
                              {{#each date_list.month}}
                                <option value="{{this.value}}">{{this.value}}</option>
                              {{/each}}
                            </select>                     
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <input class="form-control input-team-validation" type="number" placeholder="2018"  min="1900" step="1" value="" name="membre_birth_year" required>                      
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="member_email">Email du membre *</label>
                            <input type="email" class="form-control input-team-validation" name="member_email" value="" required>
                          </div>
                        </div>
                      </div>            
                    </div>
                  </div>
                {{/if}}

                <!-- JS add member here -->
                <div id="new-team-block"></div>

                <!-- JS button trigger -->
                <div class="row">
                  <div class="col-12 text-center mb-5">
                    <div id="add-team_member" class="btn btn-warning span">Ajouter un membre <span id="currentTeamLength"></span>/<span id="maxTeamLength"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p class="legend d-bloc ml-2"><br><em>* Champs obligatoire</em></p>
          <!-- user helper  -->
          <div class="row" id="participant-validation-warning">
            <div class="col-11 mx-auto alert alert-warning">
              <p>
                Pour continuer votre inscription, vérifiez :
              </p>
              Pour continuer votre inscription, vérifiez :
              <ul>
                <li>- que votre équipe est formée d'un minimum de membres de <span id="option-team-min"></span>.</li>
                <li>- que les champs obligatoires signalés avec "*" sont correctement complétés</li>
              </ul>                
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-center my-3">
              <button type="submit" class="btn btn-secondary">Suivant ></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="{{results.event.date_cloture_inscription}}" name="dateLimite">
