<div class="container">
  <div class="row">

    <!--formulaire d'inscription block-->
    <div class="col-12 bg-light shadow" id="divForm">

      <!-- titre -->
      <div class="row">
        <div class="col-11 mx-auto mt-3">
          <div class="row">
            <div class="col-12 bg-white shadow">
              <h1 class="d-block mt-5 mb-5 text-lowercase text-center">
                Votre inscription - {{results.event.name}}
              </h1>
            </div>
          </div>
        </div>
      </div>

        <!--formulaire d'inscription-->
        {{#if member}}
          <form id="certificat-form" class="" method="POST" action="/inscription/{{results.id}}/certificat/team/{{member}}/post">
        {{else}}
          <form id="certificat-form" class="" method="POST" action="/inscription/{{results.id}}/certificat/post">
        {{/if}}
        
          <div class="row my-3" id="step-epreuve">
            <div class="col-11 mx-auto mt-3 col-11 mx-auto bg-white shadow rounded p-3">
              <div>


                <!-- nav certificat -->
                <div class="col-12 border border-left-0 border-right-0 border-top-0 text-center">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <h3 class="h4 mt-5 mb-3">1. Choisir votre certificat / licence</h3>
                    </div>
                  </div>
                  <div class="row">
                    {{#if user.certificat.file}}
                    <div class="col-md-5 mx-auto">
                      <!-- user certificat -->
                      <span id="user_certificat" class="btn btn-secondary shadow">
                        Utiliser le document <br>de mon compte →
                      </span>
                      <input type="hidden" name="user_certificat_document" value="{{user.certificat.file}}">
                    </div>
                    <div class="col-md-2 m-auto text-center">
                      <strong>OU</strong>
                    </div>
                    {{/if}}
                    <div class="col-md-5 mx-auto">
                      <!-- other certificat -->
                      <span class="btn btn-secondary shadow" id="upload_cart_certificats_opener">
                        Télécharger <br>un document →
                      </span>
                      <input type="hidden" name="other_certificat_document" value="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-3 mb-3">
                      <h3 class="h4 mt-5 mb-3">2. Vérifier votre document</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      {{#if results.docs.certificat}}
                        <a id="certificat_viewer" class="btn btn-success" target="_blank" href="{{results.docs.certificat}}">
                      {{else}}
                        <a id="certificat_viewer" class="btn btn-outline-secondary disabled" target="_blank" href="#">
                      {{/if}}
                        <i class="fa fa-file" aria-hidden="true"></i> Voir le document
                      </a>
                    </div>
                    <!-- certificat input form -->
                    <input name='certificat_file' class="input-participant-validation" value='{{results.docs.certificat}}' type='hidden' required>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-3 mb-3">
                      <h3 class="h4 mt-5 mb-3">3. Valider votre document</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-11 mx-auto">
                      <p><input class="form-check-input input-participant-validation" type="checkbox" name="certificatCondition" id="certificatCondition" required> Je déclare sur l'honneur que le certificat transmis est authentique et valide. Je décharge ainsi la société REF SPORT PONTIVY et l'organisateur de toute responsabilité liée à celui-ci.</p>
                    </div>
                  </div>
                  <div class="row text-muted">
                    <small><span class="font-weight-bold">Un problème pour ajouter votre certificat ?</span> Envoyé le nous par e-mail à serviceclient@izir.fr avec l'objet suivant: "certificat inscription n°{{results.id}}". Les demandes sont traitées du lundi au vendredi 17h. Pour les inscriptions de dernières minutes, merci de prendre contact directement avec l'organisateur.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-11 mx-auto">
            <!-- user helper  -->
            <div class="row" id="participant-validation-warning">
              <div class="col-11 mx-auto alert alert-warning">
                <p class="">
                  <p>Pour continuer votre inscription, vérifiez :</p>
                  <ul>
                    <li>- que votre certificat a bien été ajouté </li>
                    <li>- que vous avez coché la case de déclaration de validité et d'authencité du certificat médical/licence</li>
                  </ul> 
                </ul>                 
              </div>
            </div>

            <div class="row">
              <div class="col-6 mb-5 text-center">
                <a class="btn btn-outline-primary" href="/event/{{results.event.id}}">Détails de l'évènement</a>
              </div>
              <div class="col-6 text-center">
                <button type="submit" class="btn btn-secondary">Valider <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
              </div>
            </div>             
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<input type="hidden" value="{{results.event.date_cloture_inscription}}" name="dateLimite">
