<div class="header container-fluid">
	<div class="jumbotron">
		<h1>Catalogue de lots pour les événements</h1>
		<p class="text-light"><strong>Tous les produits pour votre prochain événement au meileur prix.</strong></p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 mt-3 pb-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb d-inline-block w-100">
					<li class="breadcrumb-item d-inline"><a href="/">Accueil</a></li>
					<li class="breadcrumb-item active d-inline" aria-current="page">Catalogue</li>
					<span class="d-inline float-right"><a href="/catalogue/panier/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Panier  <span class="badge badge-dark">{{session.cart.totalQty}}</span> </a></span>	
				</ol>

			</nav>	
		</div>
	</div>
	<div class="container">
		<div class="row mr-2 ml-2">
			<div class="col-12 mt-3 mb-3 p-3 bg-light rounded text-center">
				<span><strong>Besoin d'un devis ?</strong> Nous contacter à <a href="mailto:serviceclient@izir.fr">serviceclient@izir.fr</a> ou par téléphone au 06.58.40.20.64, en indiquant le référence du produit et la quantité souhaité. Nous nous ferons un plaisir de vous répondre rapidement.</span>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mt-3 mb-2">
				<h2>Produits <small class="text-muted">({{products.length}})</small></h2>
			</div>
		</div>
		<div class="row pb-5">
			{{#each products}}
				{{#if this.published}}
					<div class="col-sm-12 col-md-6 col-lg-3 p-2 text-center">
						<a href="/catalogue/produit/{{this.id}}" class="d-block d-block border rounded h-100">
							<div class="bg-light d-block rounded-top p-2">
								<strong class="d-block">{{this.name}}</strong>
								<span class="d-block text-center text-danger mt-2 mb-2"><small>A partir de : </small><strong>{{this.public_price}}€</strong></span>
								<small class="d-block text-muted">{{this.categorie}} | {{this.brand}}</small>
								<small class="d-block text-muted">ref: {{this.ref}}</small>
								<!-- <strong><a href="/catalogue/produit/{{this.id}}">{{this.name}}</a></strong> -->
							</div>					
							<div class="row p-2">
								<div class="col-12">
									<img src="{{this.images.0.url}}" alt="{{this.name}}" class="img img-fluid catalogue-main-img">
									<!-- <a href="/catalogue/produit/{{this.id}}"><img src="{{this.images.0.url}}" alt="{{this.name}}" class="img img-fluid catalogue-main-img"></a> -->
								</div>
							</div>

							<div class="row p-2">
								{{#each images}}
									{{#if @first}}
									{{else}}
									<div class="col-sm-6 col-md-4">
										<img src="{{this.url}}" alt="{{../this.name}}" class="img img-fluid catalogue-secondary-img">
										<!-- <a href="/catalogue/produit/{{../this.id}}"><img src="{{this.url}}" alt="{{../this.name}}" class="img img-fluid catalogue-secondary-img"></a> -->
									</div>	
									{{/if}}
								{{/each}}
							</div>
				<!-- 			<div class="row">
								<div class="col-12 spacer-xs-bottom">
									<a href="/catalogue/add/{{this.id}}" class="btn btn-outline-primary" role="button">Ajouter au devis</a>
								</div>
							</div> -->							

											
						</a>
					</div>	
				{{/if}}

			{{/each}}			
		</div>		
	</div>



</div>