<div class="container">
	<div class="row">
		<div class="col-12 spacer-sm-top">
			<nav aria-label="breadcrumb ">

	    	<a href="/">
					<i class="fa fa-home" aria-hidden="true"></i>
					<i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
	    	</a>

	    	<a href="/cart/" class="btn btn-light">
		    	<span class="badge badge-pill badge-info">
		    		1
		    	</span>
		    	<span class="text-primary">Panier</span>
		    	<i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
		    </a>

	    	<div class="btn">
		    	<span class="badge badge-pill badge-light">
		    		2
		    	</span>
		    	<span class="text-muted">Paiement</span>
		    	<i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
		    </div>		    	

	    	<div class="btn">
		    	<span class="badge badge-pill badge-light">
		    		3
		    	</span>
		    	<span class="text-muted">Information</span>
		    	<i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
		    </div>
	    	<div class="btn">
		    	<span class="badge badge-pill badge-light">
		    		4
		    	</span>
		    	<span class="text-muted">Téléchargement</span>
		    </div>	

			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 spacer-md-top">
			<h1>Panier <span class="h4 text-muted ml-3">{{cart.products.length}} produits</span></h1>
		</div>
	</div>
	<div class="row spacer-md-top spacer-md-bottom">
		<div class="col-md-7">
			<div class="row">
				<div class="col-12 border border-top-0 border-right-0 border-left-0 border-dark spacer-sm-bottom spacer-xs-top">
					<strong class="text-uppercase ">Epreuves et options</strong>
				</div>
			</div>
			{{#if checkout.products}}
				{{#each checkout.products}}		
					<div class="row border border-bottom align-items-center my-4 shadow">				
						<div class="col-12">
							<div class="d-block my-2">
								{{#if this.race}}
									<a href="/event/{{this.event.id}}" class="font-weight-bold" title="Ce produit est une épreuve de l'événement">
									<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
								{{/if}}
								{{#if this.option}}
									<a href="/event/{{this.event}}" class="font-weight-bold" title="Ce produit est une option de l'événement">
									<i class="fa fa-cogs" aria-hidden="true"></i>
								{{/if}}
									{{this.name}}
								</a>
								<div class="d-inline-block float-right">
									<a href="/cart/remove/{{this.ref}}" class="btn btn-outline-light text-muted btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="d-block my-2 border border-muted border-top-0 border-right-0 border-left-0 pb-2">
								<small class="text-muted">
									{{this.description}}
								</small>
							</div>
							<div class="d-block my-2">
								<span class="text-secondary">Prix Unitaire : <strong class="text-danger"> {{this.price}}€</strong></span>
							</div>
							<div class="d-block my-2">
								<span class="text-secondary">
									Quantité :
									<form action="/cart/change-quantity/{{this.ref}}" method="post" class="w-auto d-inline-block">
										<input type="number" min="0" step="1" value="{{this.qty}}" class="form-control w-auto d-inline-block" name="quantity"></span>
										<button type="submit" class="btn btn-outline-light d-none"><i class="fa fa-check text-success" aria-hidden="true"></i></button>
									</form>
							</div>
							<div class="d-block my-2 bg-light p-2">
								<span class="font-weight-bold">Total produit : {{this.subtotal}}€</span>
							</div>
							<div class="d-block my-2">
								<small class="text-muted ">
									{{#if this.paiement_cb_required}}
										<i class="fa fa-credit-card-alt mr-2" aria-hidden="true"></i>
									{{/if}}
									Référence : {{this.ref}}
								</small>
							</div>
						</div>
					</div>			
				{{/each}}

				<div class="row">
					<div class="col-12 border border-top-0 border-right-0 border-left-0 border-dark spacer-sm-bottom spacer-xs-top">
						<strong class="text-uppercase ">Paiement</strong>
					</div>
				</div>

        <!-- paiement to action -->
        <div id="helper">
          <span><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>Votre inscription ne sera envoyée à l'oganisateur qu'après son paiement. Pour valider votre inscription, merci de choisir l'un des modes de paiement ci-dessus.</span>
        </div>

        <!-- cb block -->
        <div class="row border border-muted mb-3 paiement_option mt-3 shadow">
          <div class="col-10 mx-auto mt-2 mb-2 p-2 ">
            <div class="row">
              <div class="col-12">
                <span class="btn btn-muted border-0 mr-3"><i class="fa fa-check-square paiement_option_checkbox" aria-hidden="true"></i></span><strong>Paiement par carte bancaire</strong>                            
              </div>
            </div>
            <div class="paiement_option_sub">
              <div class="row">
                <div class="col-12">
                  <p>Informations sur ce moyen de paiement</p>
                  <p>Ce règlement garantie votre place et valide votre inscription instantanément. En le choississant, finie la queue au gichet le jour de l'événement pour payer l'inscription.</p>
                  <div class="row">
                    <div class="col-sm-3">
                      <img class="img-fluid mt-2 mb-2" src="/img/rect3737.png" alt="Paiement sécurisé" width="50" height="50">
                    </div>
                    <div class="col-sm-9">
                      <p class="mb-2 mt-2 "><strong>Paiement 100% sécurisé</strong></p>
                      <img class="img-fluid" src="/img/cb-visa-mastercard.png" alt="Paiement sécurisé" width="auto" height="100%">
                    </div>
                  </div>
                  <a href="/cart/checkout/credit" class="btn btn-danger p-3 my-3 text-center rounded-0 d-block shadow">
                  	Payer <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                  </a>
                </div>
              </div>                        
            </div>
          </div>
        </div>

				<!-- chèque block -->
        <div class="row border border-muted mb-3 paiement_option shadow">
          <div class="col-10 mx-auto mt-2 mb-2">
            <div class="row">
              <div class="col-12">
                <span class="btn btn-muted mr-3 border-0"><i class="fa fa-square-o paiement_option_checkbox" aria-hidden="true"></i></span><strong>Paiement par chèque / espèce</strong>  
              </div>
            </div>
            <div class="hidde paiement_option_sub">
              <div class="row">
                <div class="col-12">
                  <p>Informations sur ce moyen de paiement</p>
                  <p>Ce règlement sera à envoyer à l'adresse de la permanance de l'organisation de l'évènement (si le delai postal le permet) ou à donner en main propre au guichet de l'organisation lorsque que vous vous présenterez à l'évènement. L'organisateur validera votre inscription après réception de son paiement.</p>
                  <p><strong>Ce moyen de paiement ne vous garantie pas votre place pour cet événement.</strong></p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                	{{#if config.paiement_cb_required}}
                		Les articles signalés par cette icone: <i class="fa fa-credit-card-alt mx-2" aria-hidden="true"></i>rendent le paiement par carte bancaire obligatoire.
      						{{else}}
                  	<a href="/cart/checkout/check" class="btn btn-secondary p-3 my-3 text-center rounded-0 d-block shadow" id="other-checkout">Valider mon paiement</a>
                  {{/if}}
                </div>
              </div>                          
            </div>
          </div>
        </div>
			{{else}}
				<p>Il n'y pas de produits dans le panier</p>
			{{/if}}
		</div>
		<div class="col-md-4 ml-md-auto">
			<div class="row sticky-top py-5">
				<div class="col-12 bg-light shadow rounded p-3">
					<div class="row">
						<div class="col-12 border border-top-0 border-right-0 border-left-0 border-dark spacer-sm-bottom spacer-xs-top">
							<strong class="text-uppercase ">récapitulatif du panier</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<span class="d-block spacer-sm-top spacer-sm-bottom">
								<div class="row">
									<div class="col-8">
										<strong>Total Produit</strong>
									</div>
									<div class="col-4 text-right">
										<strong>{{checkout.totalPrice}}€</strong>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<span class="d-block spacer-sm-top spacer-sm-bottom">
								<div class="row">
									<div class="col-8">
										<strong>Estimation des frais de port</strong>
									</div>
									<div class="col-4 text-right">
										<strong>GRATUIT</strong>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<span class="d-block spacer-sm-top spacer-sm-bottom border border-dark border-bottom-0 border-right-0 border-left-0"><strong class="d-block spacer-sm-top">Total : {{checkout.totalPrice}}€</strong></span>
						</div>
					</div>
<!-- 					{{#if checkout.products}}
					<div class="row">
						<div class="col-12 spacer-sm-bottom text-center">
							<span class="text-danger font-weight-bold d-block spacer-xs-bottom">Envie d'un meilleur prix ?</span>
							<a href="" class="btn btn-secondary d-block text-uppercase" role="button"><strong>Demander votre devis</strong></a>
						</div>
					</div>
					{{/if}} -->
				</div>
				<div class="d-block" id="helper"></div>
			</div>
		</div>
	</div>
</div>