<div class="header container-fluid">
	<div class="jumbotron">
		<h1>Certificat et/ou Licence</h1>
	</div>
</div>
<div class="container" id="certificat_upload_page">
	{{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
	{{/if}}
  {{#if id}}
    <form method="post" action="/user/certificat/{{user.id}}?cart={{id}}">
  {{else}}
    <form method="post" action="/user/certificat/{{user.id}}">
  {{/if}}
    <!-- VALIDITE-->
    <div class="row">
    	<div class="col-10 mx-auto mt-5 text-center">
    		<h2>Date de création du certificat et/ou année de la licence</h2>
    	</div>
    </div>
    <div class="row text-center">
    	<div class="col-6 mx-auto spacer-sm-bottom">
				<div class="form-inline spacer-md-top">
					<div class="input-group">
						<div class="input-group-addon">Mois *</div>
						<input type="number" class="form-control" placeholder="1" name="month" value="{{user.certificat.expiration_month}}" min="1" max="12" step="1" required>
					</div>
					<div class="input-group">
						<div class="input-group-addon">Année *</div>
						<input type="number" class="form-control" placeholder="2018" name="year" value="{{user.certificat.expiration_year}}" min="2018" step="1" required>
					</div>
				</div>	    		
    	</div>
    </div>
    {{#if user.certificat.file}}
	    <div class="row text-center">
	    	<div class="col-6 mx-auto spacer-sm-top">
	    		<div class="alert alert-light">
		    		<p><strong>Vous avez déjà un certificat et/ou licence d'enregistrer</strong></p>
		        <a href="{{user.certificat.file}}" id="file_viewer" class="spacer-sm-top spacer-sm-bottom btn btn-warning" target="_blank">Voir mon certificat</a>
		        <a href="#upload_certificats_opener" id="upload_certificats_opener" class="btn btn-outline-dark">Changer mon document</a>
	    		</div>
	    	</div>
	    </div>
    {{else}}
	    <div class="row text-center">
	    	<div class="col-6 mx-auto spacer-sm-top">
	    		<div id="certificat_innerBox" class="alert alert-warning">
		    		<p><strong>Vous n'aver pas de certificat et/ou licence d'enregistrer</strong></p>
		        <a href="" id="file_viewer" class="hidde spacer-sm-top spacer-sm-bottom btn btn-warning" target="_blank">Voir mon certificat</a>	
		        <a href="#upload_certificats_opener" id="upload_certificats_opener" class="btn btn-danger">Ajouter un document</a> 	
	    		</div>
	    	</div>
	    </div>
    {{/if}}	
    <input name='certificat_file' value='{{user.certificat.file}}' type='hidden'>
    <div class="row">
    	<div class="col-6 mx-auto text-center">
    		<button type="submit" class="btn btn-default">Enregistrer</button>
    	</div>
    </div>
	</form>
	<p class="legend"><br><em>* Champs obligatoire</em></p>
</div>