<div class="header container-fluid">
	<div class="jumbotron">
		<h1>Mon tableau de bord</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<h2>Vos informations</h2>
			<ul>
				<li><strong>Nom : </strong>{{utf8 user.surname}}</li>
				<li><strong>Prénom : </strong>{{utf8 user.name}} </li>
				<li><strong>Pseudo : </strong>{{user.username}} </li>
				<li><strong>Date de naissance : </strong>{{user.birthday}} </li>
				<li><strong>Je suis : </strong>{{user.sex}} </li>
				<li><strong>Catégorie : </strong>{{user.categorie}}</li>
				<li><strong>Team : </strong>{{user.team}}</li>
				<li><strong>N° de licence : </strong>{{user.licence}}</li>
			</ul>
			<h2 class="spacer-md-top">Adresse</h3>
			<ul>
				<li><strong>Adresse ligne 1</strong> : {{user.adresse1}}</li>
				<li><strong>Adresse ligne 2</strong> : {{user.adresse2}} </li>
				<li><strong>Code Postal</strong> : {{user.codePostal}} </li>
				<li><strong>Ville</strong> : {{user.city}} </li>
			</ul>
			<h2 class="spacer-md-top">Certificat</h3>
			{{#if user.certificat.file}}
				<li><strong>Valide jusqu'au</strong> : {{user.certificat.expiration_month}}/{{user.certificat.expiration_year}} </li>
				<a href="/user/certificat/{{user.id}}/" class="btn btn-outline-warning spacer-xs-top">Modifier mon certificat médical</a>
			{{else}}
				<a href="/user/certificat/{{user.id}}/" class="btn btn-warning">Enregistrer un certificat médical</a>
			{{/if}}
			<h2 class="spacer-md-top">Contact</h3>
			<ul>
				<li><strong>Email</strong> : {{user.email}} </li>
				<li><strong>Téléphone Fix</strong> : {{user.phoneFix}} </li>
				<li><strong>Téléphone port.</strong> : {{user.phonePort}} </li>
			</ul>
		</div>
	</div>
</div>

