<div class="header container-fluid">
  <div class="jumbotron">
    <h1>Ajouter un évènement</h1>
    <p class="text-light spacer-lg-top"><strong>100% GRATUIT POUR LES ORGANISATEURS</strong></p>
    <p class="text-light">Sans frais cachés</p>
  </div>
</div>
<div class="container">
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
  {{/if}}
  <form method="post" action="/event/create" id="postEvent">
    <div class="row mt-5">
      <div class="col-sm-12">
        <h2>Détails de l'évènement</h2>
        <div class="form-group spacer-sm-top">
          <label>Nom de l'évènement *</label>
          <input type="text" class="form-control" placeholder="ex: Marathon de Paris" name="name" required>
        </div>
      </div>
    </div>

    <!-- ADRESSE -->
    <div class="row">
      <div class="col-sm-12">
        <label for="autocomplete">Lieu de l'évènement*</label>
        <div class="row">
          <div class="col-md-6">
            <div id="locationField" class="form-group">
              <input id="autocomplete" placeholder="Rechercher l'adresse de l'évènement" onFocus="geolocate()" type="text" class="form-control" required>
            </div>
            <div id="map"></div>
          </div>
          <div class="col-md-6 spacer-sm-top">
            <div class="input-group" id="address">
              <label class="label input-group-addon">Adresse ligne 1</label>
              <input class="field form-control" id="street_number" disabled="true" name="adresse1">
            </div>
            <div class="input-group" id="address">
            <label class="label input-group-addon">Adresse ligne 2</label>
              <input class="field form-control" id="route" disabled="true" name="adresse2">
            </div>
            <div class="input-group" id="address">
              <label class="label input-group-addon">Ville</label>
              <input class="field form-control" id="locality" disabled="true" name="ville">
            </div>
            <div class="input-group" id="address">
              <label class="label input-group-addon">Région</label>
              <input class="field form-control" id="administrative_area_level_1" disabled="true" name="region">
            </div>
            <div class="input-group" id="address">
              <label class="label input-group-addon">Code postal</label>
              <input class="field form-control" id="postal_code" disabled="true" name="codePostal">
            </div>
            <div class="input-group" id="address">
              <label class="label input-group-addon">Pays</label>
              <input class="field form-control" id="country" disabled="true" name="pays">
            </div>
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">         
          </div>        
        </div>
      </div>
    </div>

    <!-- DESCRIPTION-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group spacer-sm-top">
          <label>Description *</label><br>
          <textarea name="description" id="" class="form-control" cols="30" rows="10" placeholder="Description de l'évènement" required></textarea>
        </div>        
      </div>
    </div>

    <!-- PERMANENCE DES INSCRIPTIONS -->
    <div class="row spacer-sm-top">
      <div class="col-sm-12">
        <h2>Permanence des inscriptions</h2>
      </div>
      <div class="col-sm-12 spacer-xs-top">
        <div class="input-group">
          <label class="label input-group-addon">Email</label>
          <input type="text" class=" ield form-control" name="email" placeholder="email@organisation.ici">
          <label class="label input-group-addon ">Téléphone</label>
          <input type="text" class=" ield form-control" name="telephone" placeholder="00.00.00.00.00">
        </div>
        <div class="input-group spacer-xs-top">
          <label class="label input-group-addon ">Site Internet</label>
          <input type="text" class=" ield form-control" name="siteWeb" placeholder="http://siteWeb.fr">
        </div>
        <div class="input-group spacer-xs-top">
          <label class="label input-group-addon ">Page Facebook</label>
          <input type="text" class=" ield form-control" name="facebook" placeholder="http://facebook.com">
        </div>     
      </div>
    </div>
    
    <!-- CLOTURE DES INSCRIPTIONS -->
    <div class="row spacer-md-top">
      <div class="col-sm-12">
        <h2>Clôture des incriptions</h2>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Jour (jour/mois/année)*</label>
          <div class="row">
            <div class="col-4">
              <select class="form-control" name="jourCloture" required>
                {{#each date_list.day}}
                  <option value="{{this.value}}">{{this.value}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-4">
              <select class="form-control" name="moisCloture" required>
                {{#each date_list.month}}
                  <option value="{{this.value}}">{{this.value}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-4">
              <select class="form-control" name="anneeCloture" required>
                {{#each date_list.year}}
                  <option value="{{this.value}}">{{this.value}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <span></span>  
      </div>
      <div class="col-sm-5">
        <div class="form-group" required>
          <label>Heure (heure/minute) *</label>
          <div class="row">
            <div class="col-6">
              <select class="form-control" name="heureCloture" required>
                {{#each date_list.hour}}
                  <option value="{{this.value}}">{{this.value}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-6">
              <select class="form-control" name="minuteCloture" required>
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>    

    <!-- PAIEMENT ACCEPTED-->
    <div class="row spacer-sm-top">
      <div class="col-sm-12 alert alert-warning">
        <div class="col-sm-12 spacer-sm-top">
          <input type="checkbox" class="form-check-input" name="paiement" id="paiement" checked>
          <p>Autorisez-vous les paiements en ligne ?</p>
          <em class="legend">
            <p>En cochant cette case les participants pourront payer et finaliser leurs inscriptions à vos épreuves directement en ligne. Sinon, ils ne pourront que se pré-inscrire à votre évènement. </p>
            <p>Les frais de dossier de 0,50€ seront réglés lors de l' inscription par le participant si celui-ci choisi de régler en ligne. Les inscriptions sont sans frais pour l'organisation.</p>
            <p>Les fonds sont reversés à l'organisation, 15 jours après la date de clôture des inscriptions.</p>
          </em>
        </div>
      </div>
    </div>

    <!-- DONS-->
    <div class="row spacer-sm-top">
      <div class="col-sm-12 alert alert-warning">
        <div class="col-sm-12 spacer-sm-top">
          <input type="checkbox" class="form-check-input" name="dons" id="dons">
          <p>Cet évènement récolte-t-il des dons ?</p><p><em class="legend"> En cochant cette case les participants pourront réaliser un don ou une promesse de don (s'ils ne payent pas leur sincription en ligne), en plus de leur inscription à l'épreuve.</em></p>
        </div>    
      </div>
    </div>

    <!-- Certificats medicaux-->
    <div class="row spacer-sm-top">
      <div class="col-sm-12 alert alert-warning">
        <div class="col-sm-12 spacer-sm-top">
          <input type="checkbox" class="form-check-input" name="certificat_required" id="certificat_required">
          <p>Cet évènement requiert-il les certificats medicaux des participants ?</p><p><em class="legend"> En cochant cette case les participants devront joindre un certificat medical lors de leur inscription à l'épreuve.</em></p>
        </div>    
      </div>
    </div>

    <!-- IMAGES FILES-->
    <div class="row spacer-sm-top">
      <div class="col-sm-12">
        <label>Ajouter le flyer, des photos, des images<em class="legend"> .jpg, .png et .pdf uniquement, 3 documents maximum</em></label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span id="imagesButton">
          <a href="#upload_images_opener" id="upload_images_opener" class="btn btn-default">Ajouter des images</a>
        </span>
      </div>      
    </div>
    <div class="row">
      <div class="col-12 mt-2" id="uploaded_images">
        <!-- IMAGES UPLOADED -->
      </div>
    </div>

    <!-- LEGALES FILES -->
    <div class="row">
      <div class="col-sm-12 spacer-md-top">
        <label>Ajouter le réglement de l'épreuve<em class="legend"> .pdf , .jpg et .png uniquement, 1 pièce jointe</em></label>
      </div>      
    </div>
    <div class="row">
        <div class="col-sm-12">
          <a href="#upload_legales_opener" id="upload_legales_opener" class="btn btn-default">Ajouter le règlement</a>
        </div>      
    </div>
    <div class="row">
      <div class="col-12 mt-2" id="uploaded_legales">
        <!-- REGLEMENT UPLOADED -->
      </div>
    </div>

    <!-- EPREUVES-->
    <div class="row spacer-md-top">
      <div class="col-sm-12">
        <h2>Détails de l'épreuve</h2>
      </div>
    </div>
    <div>
      <!-- Epreuve Form-->
      <div id="epreuveFrom">
        <div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group ">
                <div class="row">
                  <div class="col-sm-11">
                    <div class="form-group spacer-sm-top">
                      <label>Nom de l'épreuve *</label>
                      <input type="text" class="form-control" placeholder="ex: 15km, adultes, femmes, ..." value="" name="epreuveName" required>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <span class="badge badge-danger delete-epreuve">X</span>
                  </div> 
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Description de l'épreuve</label><br>
                      <textarea name="epreuveDescription" class="form-control" cols="30" rows="10" placeholder="Description de l'épreuve"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                      <div class="row">
                        <div class="col-12">
                          <strong class="d-block mb-2">Inscription en équipe</strong>
                          <span>
                            En activant cette option, vous indiquer que cette épreuve se court en équipe. Vous recevrez donc une seule inscription pour une équipe avec un seul paiement pour tous les membres de cette équipe. Merci d'adapter votre prix de l'inscription, ci-dessous, en conséquent.
                          </span>
                          <p class="mt-2">
                            Ex: inscription indivuelle, Prix de l'inscription 10€; inscription équipe (2 personnes), Prix de l'inscription 20€.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="row mb-2">
                                  <label class="col-lg-9 col-sm-4 d-inline text-right">Inscription en équipe :</label>  
                                  <select name="team" class="form-control col-lg-3 col-sm-8 d-inline">
                                    <option value="true">Oui</option>
                                    <option value="false" selected>Non</option>
                                  </select>                                        
                                </div>
                              </div>
                              <div class="col-lg-8">
                                <div class="row">
                                  <label class="col-sm-4 text-right">Nombre de membres composants une équipe :</label>
                                  <div class="input-group col-sm-4">
                                    <div class="input-group-addon">min</div>
                                    <input type="number" class="form-control" placeholder="0" name="team_qty_min" min="2" step="1" value="2">
                                  </div>
                                  <div class="input-group col-sm-4">
                                    <div class="input-group-addon">max</div>
                                    <input type="number" class="form-control" placeholder="0" name="team_qty_max" min="2" step="1" value="2">
                                  </div>                                     
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <label class="spacer-sm-top">Discipline *</label>
                <select name="discipline" class="form-control" required>
                  <option value="running" selected>running</option>
                  <option value="trail">trail</option>
                  <option value="randonnée">randonnée</option>
                  <option value="triathlon">triathlon</option>
                  <option value="cyclisme">cyclisme</option>
                  <option value="vtt">vtt</option>
                  <option value="multi-activités">multi-activités</option>
                  <option value="billeterie">billeterie</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Date de début (jour/mois/année) *</label>
                <div class="row">
                  <div class="col-4">
                    <select class="form-control" name="jourDebut" required>
                      {{#each date_list.day}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-4">
                    <select class="form-control" name="moisDebut" required>
                      {{#each date_list.month}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-4">
                    <select class="form-control" name="anneeDebut" required>
                      {{#each date_list.year}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <span></span>  
            </div>
            <div class="col-sm-5">
              <div class="form-group" required>
                <label>Heure de début (heure/minute) *</label>
                <div class="row">
                  <div class="col-6">
                    <select class="form-control" name="heureDebut" required>
                      {{#each date_list.hour}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-6">
                    <select class="form-control" name="minuteDebut" required>
                      <option value="00">00</option>
                      <option value="15">15</option>
                      <option value="30">30</option>
                      <option value="45">45</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Prix de l'inscription *</label>        
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="0" name="tarif" min="00" step=".01" required>
                    <div class="input-group-addon">€</div>
                  </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Distance *</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="0" name="distance" min="00" step=".01" required>
                  <div class="input-group-addon">Km</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Dénivele +</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="0" name="denivele" min="00">
                  <div class="input-group-addon">m</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Nombre de participants maxi *</em></label>
                <input type="number" class="form-control" placeholder="1" name="placesDispo" required>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="epreuve_id" value="true">
      </div> 
      <!-- copie de epreuve form aspiré et cleaner par le JS-->
      <div id="epreuveBlankFrom">
        <div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group ">
                <div class="row">
                  <div class="col-sm-11">
                    <div class="form-group spacer-sm-top">
                      <label>Nom de l'épreuve *</label>
                      <input type="text" class="form-control" placeholder="ex: 15km, adultes, femmes, ..." value="" name="epreuveName" required>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <span class="badge badge-danger delete-epreuve">X</span>
                  </div> 
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Description de l'épreuve</label><br>
                      <textarea name="epreuveDescription" class="form-control" cols="30" rows="10" placeholder="Description de l'épreuve"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                      <div class="row">
                        <div class="col-12">
                          <strong class="d-block mb-2">Inscription en équipe</strong>
                          <span>
                            En activant cette option, vous indiquer que cette épreuve se court en équipe. Vous recevrez donc une seule inscription pour une équipe avec un seul paiement pour tous les membres de cette équipe. Merci d'adapter votre prix de l'inscription, ci-dessous, en conséquent.
                          </span>
                          <p class="mt-2">
                            Ex: inscription indivuelle, Prix de l'inscription 10€; inscription équipe (2 personnes), Prix de l'inscription 20€.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="row mb-2">
                                  <label class="col-lg-9 col-sm-4 d-inline text-right">Inscription en équipe :</label>  
                                  <select name="team" class="form-control col-lg-3 col-sm-8 d-inline">
                                    <option value="true">Oui</option>
                                    <option value="false" selected>Non</option>
                                  </select>                                        
                                </div>
                              </div>
                              <div class="col-lg-8">
                                <div class="row">
                                  <label class="col-sm-4 text-right">Nombre de membres composants une équipe :</label>
                                  <div class="input-group col-sm-4">
                                    <div class="input-group-addon">min</div>
                                    <input type="number" class="form-control" placeholder="0" name="team_qty_min" min="2" step="1" value="2">
                                  </div>
                                  <div class="input-group col-sm-4">
                                    <div class="input-group-addon">max</div>
                                    <input type="number" class="form-control" placeholder="0" name="team_qty_max" min="2" step="1" value="2">
                                  </div>                                     
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <label class="spacer-sm-top">Discipline *</label>
                <select name="discipline" class="form-control" required>
                  {{#each discipline_list}}
                    <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Date de début (jour/mois/année) *</label>
                <div class="row">
                  <div class="col-4">
                    <select class="form-control" name="jourDebut" required>
                      {{#each date_list.day}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-4">
                    <select class="form-control" name="moisDebut" required>
                      {{#each date_list.month}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-4">
                    <select class="form-control" name="anneeDebut" required>
                      {{#each date_list.year}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <span></span>  
            </div>
            <div class="col-sm-5">
              <div class="form-group" required>
                <label>Heure de début (heure/minute) *</label>
                <div class="row">
                  <div class="col-6">
                    <select class="form-control" name="heureDebut" required>
                      {{#each date_list.hour}}
                        <option value="{{this.value}}">{{this.value}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-6">
                    <select class="form-control" name="minuteDebut" required>
                      <option value="00">00</option>
                      <option value="15">15</option>
                      <option value="30">30</option>
                      <option value="45">45</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Prix de l'inscription *</label>        
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="0" name="tarif" min="00" step=".01" required>
                    <div class="input-group-addon">€</div>
                  </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Distance *</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="0" name="distance" min="00" step=".01" required>
                  <div class="input-group-addon">Km</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Dénivele +</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="0" name="denivele" min="00">
                  <div class="input-group-addon">m</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Nombre de participants maxi *</em></label>
                <input type="number" class="form-control" placeholder="1" name="placesDispo" required>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="epreuve_id" value="true">
      </div> 
      <div id="epreuveAdd"></div>
    </div>
    <div class="row" id="epreuveButton">
      <div class="col-sm-12 spacer-sm-top">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-default" id="addEpreuve">Ajouter une épreuve</button>
            </div>
          </div>              
        </div>
      </div>      
    </div>

    <!-- OPTIONS -->
    <div class="row spacer-sm-top">
      <div class="col-sm-12">
        <h2>Options de l'évènement</h2>
      </div>
      <!-- Option Form-->
      <div class="col-sm-12 option spacer-sm-top" id="optionFrom">
        <div class="row" >
          <div class="col-sm-11">
            <div class="row">
              <div  class="col-sm-9">
                <div class="form-group">
                  <label>Nom de l'options *</label>
                  <input type="text" class="form-control" placeholder="ex: navette" name="optionsRef" required>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Prix de l'option *</label>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="1" name="optionsPrix" value="" required>
                    <div class="input-group-addon">€</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <span class="badge badge-danger delete-option">X</span>
          </div>
        </div>
        <input type="hidden" name="option_id" value="true">
      </div>
      <!-- copie de option form aspiré et cleaner par le JS-->
      <div class="col-sm-12 option spacer-sm-top" id="optionBlankFrom">
        <div class="row" >
          <div class="col-sm-11">
            <div class="row">
              <div  class="col-sm-9">
                <div class="form-group">
                  <label>Nom de l'options *</label>
                  <input type="text" class="form-control" placeholder="ex: navette" name="optionsRef" required>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Prix de l'option *</label>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="1" name="optionsPrix" value="" required>
                    <div class="input-group-addon">€</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <span class="badge badge-danger delete-option">X</span>
          </div>
        </div>
        <input type="hidden" name="option_id" value="true">
      </div>
      <div class="col-sm-12 option" id="optionAdd"></div>
      <div class="col-sm-12 spacer-sm-top" id="option_add">
        <div class="col-sm-12">
          <div class="row" >
            <div class="col-sm-12">
              <button class="btn btn-default" id="addOption">Ajouter une option</button>
            </div>
          </div>              
        </div>
      </div>
    </div>

    <!-- CGV --> 
    <div class="row">
      <div class="col-sm-12 spacer-sm-top">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="CGV" id="CGV" required> J'ai lu les conditions générales de vente et j'y adhère sans réserve. <a href="/info/cgv">(Lire les Conditions générales de vente)</a></strong>
          </label>
        </div>
      </div>      
    </div>   
    <button id="submitButton" type="submit" class="btn btn-danger spacer-sm-top">Créer l'évènement</button>
  </form>
  <p class="legend"><br><em>* Champs obligatoire</em></p>
</div>

<!-- <script src="/js/files-uploader.js" type="text/javascript"></script> -->
