<div class="container-fluid">
  <div class="row bg-dark-blue">
    <div class="col-12 text-center mt-3 pt-4 pb-5">
      <a href="/organisateur/events" class="btn btn-outline-light border-0 m-2"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>Mes événements</a>
      <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <a href="/event/{{event.id}}/dashboard" class="btn btn-outline-light border-0 m-2">{{event.name}}</a>
      <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <a href="/event/{{event.id}}" class="btn btn-outline-light m-2" ><i class="fa fa-eye mr-2"></i>Voir</a>
      <a href="/event/{{event.id}}/dashboard" class="btn btn-light m-2"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Configurer</a>
      <a href="/inscription/recap/organisateur/{{event.id}}" class="btn btn-outline-light m-2"><i class="fa fa-users mr-2 "></i>Participants</a>
      <a href="/organisateur/event/{{event.id}}/messages" class="btn btn-outline-light m-2"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Messagerie</a>
      <a href="/chronometrage/event/{{event.id}}" class="btn btn-outline-light m-2"><i class="fa fa-file mr-2"></i>Chronométrage</a>
      <a href="/organisateur/comptabilite/{{user.id}}" class="btn btn-outline-light m-2"><i class="fa fa-university mr-2"></i>Comptabilité</a>
      <a href="/catalogue" class="btn btn-outline-light m-2"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Lots</a>
    </div>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
    <div class="col-md-3 mt-5">
      <div class="d-block">
        <a href="/event/edit/{{event.id}}" class="d-block btn btn-default rounded-0 border-0"><i class="fa fa-pencil mr-2"></i>Modifier l'événement</a>
        <a href="/organisateur/event/{{event.id}}/messages" class="d-block btn btn-default rounded-0 border-0"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Contacter les participants</a>
      </div>      
      <a href="/catalogue/" class="d-block mx-auto border p-3 bg-light rounded">
        <h3 class="h5">Avez-vous pensez à vos lots ?</h3>
        <div class="d-block">
          <span class="d-block border border-top-0 border-right-0 border-left-0 text-muted">
            L'exemple du moment
          </span>
          <div class="d-block mt-3">
            <strong class="d-block text-dark pb-2">{{product.name}}</strong>
            {{product.image.0.url}}
          </div>
          <img src="{{product.images.0.url}}" alt="{{product.title}}" class="img-fluid">
          <span class="text-muted">à partir de : </span><span class="h5 text-danger font-weight-bold">{{product.public_price}}€</span>
        </div>
      </a>
    </div>
    <div class="col-md-9 mx-auto mb-4">
      <div class="row">
        <div class="col-12 mt-5 mb-4 text-center text-md-left">
          <h3 class="">Les épreuves de {{event.name}}</h3>
        </div>
      </div>
      {{#each event.epreuves}}
        <div class="row my-2">
          <div class="col-12 bg-light p-3 border border-muted">
            <span class="d-inline-block font-weight-bold mt-2">
              {{this.name}}
            </span>
            <span class="d-inline-block float-right mx-2">
              <a href="/event/{{../event._id}}/race/{{this._id}}/delete" class="btn btn-outline-dark btn-sm race-delete"><i class="fa fa-trash mr-2"></i>Supprimer</a>
            </span>
            <span class="d-inline-block float-right mx-2">
              <a href="/event/{{../event._id}}/race/{{this._id}}/edit" class="btn btn-muted btn-sm"><i class="fa fa-pencil mr-2"></i>Modifier</a>
            </span>
          </div>
        </div>        
      {{/each}}
      <div class="row my-2">
        <div class="col-12 bg-light p-3 border border-muted">
          <span class="d-block mx-2 text-center">
            <a href="/event/{{event.id}}/race/create" class="btn btn-danger btn-sm"><i class="fa fa-plus mr-2"></i>Créer une épreuve</a>
          </span>
        </div>
      </div> 
    </div>
  </div>
</div>