<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<span class="d-block spacer-xs-left bg-light spacer-sm-top spacer-sm-bottom">
				<h1 class="text-center" id="event-details-header">{{utf8 result.event.name}}</h1>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 order-xs-2 order-sm-2 order-lg-1">
			<div class="row">
				<div class="col-12">
					<div id="map"></div>
				</div>
			</div>
			<div class="row">
				<!-- SLIDER -->
				<div class="col-md-4">
					<div id="event-detail-slider">
						<div id="carouselExampleControls" class="carousel slide spacer-xs-top" data-ride="carousel">
						  <div class="carousel-inner">
						   {{#each result.event.docs.img}}
						   	{{#if @first}}
						    <div class="carousel-item active">
						    {{else}}
						    <div class="carousel-item">
						    {{/if}}
						      <a href="{{this}}" target="_blank">
						      	<img class="d-block w-100" src="{{this}}" alt="{{this.index}}">
						      </a>
						    </div>
						    {{/each}}
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>						
						</div>
					</div>					
				</div>

				<div class="col-md-4 spacer-sm-top">
					<h3 class="border-bottom-box">Adresse</h3>
					<p>
					{{result.event.adresse.adresse1}}<br>
					{{result.event.adresse.adresse2}}<br>
					{{result.event.adresse.codePostal}} {{result.event.adresse.ville}}<br>
					{{result.event.adresse.region}}<br>
					{{result.event.adresse.pays}}
					</p>
					<input type="hidden" name="latitude" id="latitude" value="{{result.event.adresse.latitude}}">
			        <input type="hidden" name="longitude" id="longitude" value="{{result.event.adresse.longitude}}">
				</div>
				<div class="col-md-4 spacer-sm-top">
					<h3 class="border-bottom-box">Permanence</h3>
					<ul>
						{{#if result.event.permanence.email}}
						<li><strong>Email :</strong> {{result.event.permanence.email}}</li>
						{{else}}
						<li><strong>Email :</strong> NC</li>
						{{/if}}
						{{#if result.event.permanence.telephone}}
						<li><strong>Téléphone :</strong> {{result.event.permanence.telephone}}</li>
						{{else}}
						<li><strong>Téléphone :</strong> NC</li>
						{{/if}}
						{{#if result.event.permanence.siteWeb}}
						<li><strong>Site Internet : </strong><a href="{{utf8 result.event.permanence.siteWeb}}" target="_blank" rel="nofollow">{{utf8 result.event.permanence.siteWeb}}</a></li>
						{{else}}
						<li><strong>Site Internet : </strong>NC</li>
						{{/if}}
						{{#if result.event.permanence.facebook}}
						<li><strong>Page Facebook : </strong><a href="{{utf8 result.event.permanence.facebook}}" target="_blank" rel="nofollow">{{utf8 result.event.permanence.facebook}}</a></li>
						{{else}}
						<li><strong>Page Facebook :</strong> NC</li>
						{{/if}}
					</ul>							
				</div>				
			</div>
			<!-- DESCRIPTION -->
			<div class="row spacer-sm-top">
				<div class="col-12">
					<h3 class="border-bottom-box">Présentation</h3>
					<p class="text-lowercase text-justify">{{result.event.description}}</p>
				</div>
			</div>

			<!-- EPREUVES -->
			<div class="row spacer-sm-top">
				<div class="col-12">
					<h3 class="border-bottom-box">Les épreuves</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					{{#each result.event.epreuves}}
					<div class="row spacer-sm-top">
						<div class="col-12 bg-light">
							<h4 class="spacer-sm-top text-lowercase">{{this.name}}</h4>
							 <span class="badge badge-light"><i class="fa fa-calendar-check-o" > </i> {{date this.date_debut}} à {{dateHours this.date_debut}}h{{dateMinutes this.date_debut}}</span>
							{{#if description}}
							<p class="text-lowercase text-justify spacer-sm-top">{{this.description}}</p>
							{{/if}}
							<p><i class="fa fa-chevron-right" aria-hidden="true"></i><span class="badge badge-light text-capitalize">{{this.discipline}}</span> <span class="badge badge-light">Distance: {{this.distance}}Km</span> <span class="badge badge-light">Denivelé +: {{this.denivele}} mètres</span> <span class="badge badge-warning">Tarif: {{this.tarif}}€</span></p>
						</div>
					</div>
					{{/each}}					
				</div>

			</div>

			<!-- PARTICPANTS -->
			<div class="row spacer-md-top" id="inscrits">
				<div class="col-sm-12">
					<h3 class="border-bottom-box">Liste des participants</h3>
				</div>

		    <div class="col-12 spacer-xs-top">
		      <span class="text-muted d-block w-100"><strong>Filtrer par épreuve</strong></span>
		      <form id="org-dashboard-filter" class="row" action="#inscrits">
		        <div class="col-9">
		          <select class="form-control" id="epreuve-filter" name="epreuve">
		            <option>Toutes</option>
		            {{#each result.event.epreuves}}
		              <option value="{{this.name}}">{{utf8 this.name}}</option>
		            {{/each}}
		          </select>             
		        </div>
		        <div class="col-3">
		          <button type="submit" class="btn btn-secondary d-block w-100">Filtrer</button> 
		        </div>         
		      </form>
		    </div>   			
				<div class="col-sm-12 spacer-sm-top">
					<table class="table">
						<thead>
							<tr>
							  <th>Nom</th>
							  <th>Prénom</th>
							  <th>Team</th>
							  <th>Catégorie</th>
							  <th>Sexe</th>
							  <!--<th>Epreuve</th>-->
							</tr>
						</thead>
						<tbody>
							{{#each result.participants}}
							    <tr>
							    	<td class="text-uppercase"><strong>{{utf8 this.participant.nom}}</strong></td>
							    	<td class="text-capitalize">{{utf8 this.participant.prenom}}</td>
							    	<td>{{utf8 this.participant.team}}</td>
							    	<td>{{this.participant.categorie}}</td>
							    	<td class="text-lowercase">{{this.participant.sex}}</td>
							    </tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>			
		</div>
		<div class="col-lg-3 order-xs-1 order-sm-1 order-lg-2">
			<div class="sticky-top">
				<div id="spacer-box"></div>
				<div id="event-details-cta-box">
					<div class="row border-bottom-box">
						<div class="col-12">
							<p>
							{{#if result.event.paiement}}
								<i class="fa fa-credit-card-alt text-success spacer-xs-left" aria-hidden="true" title="le paiement en ligne est accepté"></i>
							{{else}}
								<i class="fa fa-credit-card-alt text-muted spacer-xs-left" aria-hidden="true" title="le paiement en ligne n'est pas accepté"></i>
							{{/if}}
							{{#if result.event.certificat_required}}
								<i class="fa fa-file text-success spacer-xs-left" title="le certificat médical est requis pour s'inscrire"></i>
							{{else}}
								<i class="fa fa-file text-muted spacer-xs-left" title="le certificat médical n'est pas requis pour s'inscrire"></i>
							{{/if}}										
							{{#if result.event.dons}}
								<i class="fa fa-gratipay text-success spacer-xs-left" aria-hidden="true" title="L'événement accepte les dons"></i>
							{{else}}
								<i class="fa fa-gratipay text-muted spacer-xs-left" aria-hidden="true" title="L'événement n'accepte pas les dons"></i>
							{{/if}}
								<strong class="spacer-sm-left">
									<a href="/event/{{this.id}}">
										<span class="text-capitalize city"><i class="fa fa-map-marker" aria-hidden="true"></i> {{result.event.adresse.codePostal}} {{result.event.adresse.ville}} </span>
									</a>
								</strong>
							</p>						
						</div>
					</div>
					{{#each result.event.epreuves}}
					<div class="row">
						<div class="col-12">
							<p><strong>{{this.name}} - {{this.distance}}km : </strong> {{this.tarif}}€</p>
						</div>
					</div>
					{{/each}}
					<!-- OPTIONS -->
					{{#if result.event.options}}
					<div class="row border-top-box">
						<div class="col-12">
							<strong>Options</strong>
							{{#each result.event.options}}
							<p>{{this.reference}} <span class="badge badge-danger">Tarif: {{this.prix}}€</span></p>
							{{/each}}
						</div>						
					</div>
					{{/if}}
					<!--
					<div class="row">
						<div class="col-12">
							<p><strong>{{participants.length}} / {{result.event.epreuves.[0].placesDispo}} participants</strong> inscrits pour cette épreuve</p>
						</div>
					</div>
				-->
					<div class="row border-top-box">
						<div class="col-12">
							<p>
								<strong>Clôture des inscriptions: </strong><span class="badge badge-warning" id="date-info">le {{dateDay result.event.date_cloture_inscription}}/{{dateMonth result.event.date_cloture_inscription}}/{{dateFullYear result.event.date_cloture_inscription}} à {{dateHours result.event.date_cloture_inscription}}h{{dateMinutes result.event.date_cloture_inscription}}</span>
							</p>
						</div>
					</div>
					<div class="row border-top-box">
						<div class="col-12">
						{{#if result.event.docs.legales.[0]}}
							<p>Règlement de l'épreuve : <strong><a href="{{result.event.docs.legales.[0]}}" target="_blank">télécharger</a></p></strong>
							{{else}}
							<p>Règlement de l'épreuve : <strong>NON FOURNI</strong></p>
						{{/if}}
						</div>
					</div>
					<div class="row border-top-box" id="inscriptionButton">
						<div class="col-12">
							<a class="btn btn-danger spacer-xs-top d-block" href="/inscription/cart/{{result.event.id}}?event_id={{result.event.id}}">
								S'inscrire
							</a>							
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<a class="btn btn-outline-primary spacer-xs-top d-block" href="#inscrits">Liste des {{result.participants.length}} inscrits</a>			
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<input type="hidden" value="{{result.event.date_cloture_inscription}}" name="dateClotureInscription">