{{#if config.edit}}
  <div class="container-fluid">
    <div class="row bg-dark-blue">
      <div class="col-12 text-center mt-3 pt-4 pb-5">
        <a href="/organisateur/events" class="btn btn-outline-light border-0 m-2"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>Mes événements</a>
        <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <a href="/event/{{event.id}}/dashboard" class="btn btn-outline-light border-0 m-2">{{event.name}}</a>
        <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <a href="/event/{{event.id}}" class="btn btn-outline-light m-2" ><i class="fa fa-eye mr-2"></i>Voir</a>
        <a href="/event/{{event.id}}/dashboard" class="btn btn-light m-2"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Configurer</a>
        <a href="/inscription/recap/organisateur/{{event.id}}" class="btn btn-outline-light m-2"><i class="fa fa-users mr-2 "></i>Participants</a>
        <a href="/organisateur/event/{{event.id}}/messages" class="btn btn-outline-light m-2"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Messagerie</a>
        <a href="/chronometrage/event/{{event.id}}" class="btn btn-outline-light m-2"><i class="fa fa-file mr-2"></i>Chronométrage</a>
        <a href="/organisateur/comptabilite/{{user.id}}" class="btn btn-outline-light m-2"><i class="fa fa-university mr-2"></i>Comptabilité</a>
        <a href="/catalogue" class="btn btn-outline-light m-2"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Lots</a>
      </div>
    </div>  
  </div>
{{else}}
  <div class="header container-fluid">
    <div class="jumbotron">
      <h1>{{config.action_text}} un évènement</h1>
    </div>
  </div>
{{/if}}

<div class="container">
  <div class="row">
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
  {{/if}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form method="post" action="{{config.action_url}}" accept-charset="UTF-8" id="postEvent">
        <div class="row">
          <div class="col-sm-12 mt-5">
            <div class="form-group">
              <label>Nom de l'évènement *</label>
                <input type="text" class="form-control" placeholder="ex: Marathon de Paris" name="name" value="{{event.name}}" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description *</label><br>
              <textarea name="description" class="form-control" cols="30" rows="10" placeholder="Description de l'évènement" required>{{utf8 event.description}}</textarea>
            </div>
          </div>
        </div>

        <!-- ADRESSE-->        
        <div class="row spacer-sm-top">
          <div class="col-md-6">
            <div id="map"></div>
          </div>
          <div class="col-md-6">
            <div id="locationField" class="form-group">
              <label for="autocomplete">Rechercher une adresse*</label>
              <input id="autocomplete" placeholder="Rechercher l'adresse de l'évènement" onFocus="geolocate()" type="text" class="form-control">
            </div>
            <label>Adresse</label>
            <input type='text' class="field form-control my-3" id="street_number" name="adresse1" value="{{event.adresse.adresse1}}" placeholder="Ligne 1">
            <input type='text' class="field form-control my-3" id="route" name="adresse2" value="{{event.adresse.adresse2}}" placeholder="Ligne 2">
            <input type='text' class="field form-control my-3" id="locality" name="ville" value="{{event.adresse.ville}}" placeholder="Ville">
            <input type='text' class="field form-control my-3" id="administrative_area_level_1" name="region" value="{{event.adresse.region}}" placeholder="region">
            <input type='text' class="field form-control my-3" id="postal_code" name="codePostal" value="{{event.adresse.codePostal}}" placeholder="Code postal">
            <input type='text' class="field form-control my-3" id="country" name="pays" value="{{event.adresse.pays}}" placeholder="Pays"> 
          </div>
          <input type="hidden" name="latitude" id="latitude" value="{{event.adresse.latitude}}">
          <input type="hidden" name="longitude" id="longitude" value="{{event.adresse.longitude}}">
        </div>
        
        <!-- PERMANENCE DES INSCRIPTIONS -->
        <div class="row mt-5">
          <div class="col-sm-12">
            <h2 class="text-muted">Permanence des inscriptions</h2>
          </div>
          <div class="col-sm-12 mt-3">
            <div class="d-flex my-3">
              <div class="d-block my-auto mx-3 font-weight-bold">Email</div>
              <input type="text" class=" ield form-control" name="email" placeholder="email@organisation.ici" value="{{event.permanence.email}}">
            </div>
            <div class="d-flex my-3">
              <div class="d-block my-auto mx-3 font-weight-bold">Téléphone</div>
              <input type="text" class=" ield form-control" name="telephone" placeholder="00.00.00.00.00" value="{{event.permanence.telephone}}">
            </div>
            <div class="d-flex my-3">
              <div class="d-block my-auto mx-3 font-weight-bold">Site Internet</div>
              <input type="text" class=" ield form-control" name="siteWeb" placeholder="http://siteWeb.fr" value="{{event.permanence.siteWeb}}">
            </div>
            <div class="d-flex my-3">
              <div class="d-block my-auto mx-3 font-weight-bold">Page Facebook</div>
              <input type="text" class=" ield form-control" name="facebook" placeholder="http://facebook.com" value="{{event.permanence.facebook}}">
            </div>  
          </div>
        </div>        

        <!-- CLOTURE DES INSCRIPTIONS -->
        <div class="row mt-5">
          <div class="col-sm-12">
            <h2 class="text-muted">Clôture des incriptions</h2>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Jour (jour/mois/année)*</label>
              <div class="row">
                <div class="col-4">
                  <select class="form-control" name="jourCloture" required>
                    <option value="{{dateDay event.date_cloture_inscription}}" selected>{{dateDay event.date_cloture_inscription}}</option>
                    {{#each date_list.day}}
                      <option value="{{this.value}}">{{this.value}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-control" name="moisCloture" required>
                    <option value="{{dateMonth event.date_cloture_inscription}}" selected>{{dateMonth event.date_cloture_inscription}}</option>
                    {{#each date_list.month}}
                      <option value="{{this.value}}">{{this.value}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-control" name="anneeCloture" required>
                    <option value="{{dateFullYear event.date_cloture_inscription}}" selected>{{dateFullYear event.date_cloture_inscription}}</option>
                    {{#each date_list.year}}
                      <option value="{{this.value}}">{{this.value}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-5">
            <div class="form-group" required>
              <label>Heure (heure/minute) *</label>
              <div class="row">
                <div class="col-6">
                  <select class="form-control" name="heureCloture" required>
                    <option value="{{dateHours event.date_cloture_inscription}}" selected>{{dateHours event.date_cloture_inscription}}</option>
                    {{#each date_list.hour}}
                      <option value="{{this.value}}">{{this.value}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-6">
                  <select class="form-control" name="minuteCloture" required>
                    <option value="{{dateMinutes event.date_cloture_inscription}}" selected>{{dateMinutes event.date_cloture_inscription}}</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5">
            <h2 class="text-muted">Paramêtres</h2>
          </div>
        </div>

        <!-- PAIEMENT ACCEPTED-->
        <div class="row mt-5">
          <div class="col-12 bg-light border boder-muted pb-3">
            <div class="col-sm-12 spacer-sm-top">
              {{#if event.paiement}}
                <input type="checkbox" class="form-check-input" name="paiement" id="paiement" checked>
              {{else}}
                <input type="checkbox" class="form-check-input" name="paiement" id="paiement">
              {{/if}}
              <span class="d-inline-block mx-5 mb-3">Autorisez-vous les paiements en ligne ?</span>
              <em class="legend text-muted">
                <p>En cochant cette case les participants pourront payer et finaliser leurs inscriptions à vos épreuves directement en ligne. Sinon, ils ne pourront que se pré-inscrire à votre évènement. </p>
                <p>Les frais de dossier de 0,50€ seront réglés lors de l' inscription par le participant si celui-ci choisi de régler en ligne. Les inscriptions sont sans frais pour l'organisation.</p>
                <p>Les fonds sont reversés à l'organisation, 15 jours après la date de clôture des inscriptions.</p>
              </em>
            </div>
          </div>
        </div>

        <!-- DONS-->
        <div class="row mt-5">
          <div class="col-12 bg-light border boder-muted pb-3">
            <div class="col-sm-12 spacer-sm-top">
              {{#if event.dons}}
                <input type="checkbox" class="form-check-input" name="dons" id="dons" checked>
              {{else}}
                <input type="checkbox" class="form-check-input" name="dons" id="dons">
              {{/if}}
              <span class="d-inline-block mx-5 mb-3">Cet évènement récolte-t-il des dons ?</span>
              <p><em class="legend text-muted"> En cochant cette case les participants pourront réaliser un don ou une promesse de don (s'ils ne payent pas leur sincription en ligne), en plus de leur inscription à l'épreuve.</em></p>
            </div>    
          </div>
        </div>

        <!-- Certificats medicaux-->
        <div class="row mt-5">
          <div class="col-12 bg-light border boder-muted pb-3">
            <div class="col-sm-12 spacer-sm-top">
              {{#if event.certificat_required}}
              <input type="checkbox" class="form-check-input" name="certificat_required" id="certificat_required" checked>
              {{else}}
              <input type="checkbox" class="form-check-input" name="certificat_required" id="certificat_required">
              {{/if}}
              <span class="d-inline-block mx-5 mb-3">Cet évènement requiert-il les certificats medicaux des participants ?</span>
              <p><em class="legend text-muted"> En cochant cette case les participants devront joindre un certificat medical lors de leur inscription à l'épreuve.</em></p>
            </div>    
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5">
            <h2 class="text-muted">Documents</h2>
          </div>
        </div>

        <!-- IMAGES FILES-->
        <div class="row spacer-sm-top">
          <div class="col-sm-12">
            <label>Ajouter le flyer, des photos, des images<em class="legend"> .jpg, .png et .pdf uniquement, 3 documents maximum</em></label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span id="imagesButton">
              <a href="#upload_images_opener" id="upload_images_opener" class="btn btn-default">Ajouter des images</a>
            </span>
          </div>      
        </div>
        <div class="row">
          <div class="col-12 mt-2" id="uploaded_images">
            <!-- IMAGES UPLOADED -->
            {{#each event.docs.img}}
              <a href="{{this}}" target="_blank">
                <img src="{{this}}" alt="{{event.name}}" class="img-thumbnail" style="width: 60px; height: auto;">
              </a>
              <input name='img' value='{{this}}' type='hidden'>
            {{/each}}
          </div>
        </div>

        <!-- LEGALES FILES -->
        <div class="row">
          <div class="col-sm-12 spacer-md-top">
            <label>Ajouter le réglement de l'épreuve<em class="legend"> .pdf , .jpg et .png uniquement, 1 pièce jointe</em></label>
          </div>      
        </div>
        <div class="row">
            <div class="col-sm-12">
              <a href="#upload_legales_opener" id="upload_legales_opener" class="btn btn-default">Ajouter le règlement</a>
            </div>      
        </div>
        <div class="row">
          <div class="col-12 mt-2" id="uploaded_legales">
            <!-- REGLEMENT UPLOADED -->
            {{#each event.docs.legales}}
              <a href="{{this}}" target="_blank">
                <img src="{{this}}" alt="{{event.name}}" class="img-thumbnail" style="width: 60px; height: auto;">
              </a>
              <input name='legales' value='{{this}}' type='hidden'>
            {{/each}}
          </div>
        </div>

        <!-- OPTIONS -->
        <div class="row spacer-sm-top">
          <div class="col-sm-12">
            <h2 class="text-muted">Options</h2>
          </div>
          <!-- Option Form-->
          {{#each event.options}}
          <div class="col-sm-12 option spacer-sm-top" id="optionFrom">
            <div class="row" >
              <div class="col-sm-11">
                <div class="row">
                  <div  class="col-sm-9">
                    <div class="form-group">
                      <label>Nom de l'options *</label>
                      <input type="text" class="form-control" placeholder="ex: navette" name="optionsRef" value="{{reference}}" required>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Prix de l'option *</label>
                      <div class="input-group">
                        <input type="number" class="form-control" placeholder="1" name="optionsPrix" value="{{prix}}" required>
                        <div class="input-group-addon">€</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-1">
                <span class="badge badge-danger delete-option">X</span>
              </div>
            </div>
            <input type="hidden" name="option_id" value="true">
          </div>
          {{/each}}
          <!-- copie de option form aspiré et cleaner par le JS-->
          <div class="col-sm-12 option spacer-sm-top" id="optionBlankFrom">
            <div class="row" >
              <div class="col-sm-11">
                <div class="row">
                  <div  class="col-sm-9">
                    <div class="form-group">
                      <label>Nom de l'options *</label>
                      <input type="text" class="form-control" placeholder="ex: navette" name="optionsRef" required>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Prix de l'option *</label>
                      <div class="input-group">
                        <input type="number" class="form-control" placeholder="1" name="optionsPrix" value="" required>
                        <div class="input-group-addon">€</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-1">
                <span class="badge badge-danger delete-option">X</span>
              </div>
            </div>
            <input type="hidden" name="option_id" value="true">
          </div>
          <div class="col-sm-12 option" id="optionAdd"></div>
          <div class="col-sm-12 spacer-sm-top" id="option_add">
            <div class="col-sm-12">
              <div class="row" >
                <div class="col-sm-12">
                  <button class="btn btn-default" id="addOption">Ajouter une option</button>
                </div>
              </div>              
            </div>
          </div>
        </div>

        <!-- CGV -->    
        <div class="row">
          <div class="col-12 spacer-md-top ">
            <div class="form-check border border-danger p-5 bg-light text-muted">
              <input class="form-check-input " type="checkbox" name="CGV" id="CGV" required>
              <span class="mx-5">J'ai lu les conditions générales de vente et j'y adhère sans réserve. <a href="/info/cgv">(Lire les Conditions générales de vente)</a></span>
            </div>
          </div>
        </div>
        <button id="submitButton" type="submit" class="btn btn-danger spacer-sm-top">{{config.action_text}} l'évènement</button>
      </form>
      <p class="legend"><br><em>* Champs obligatoire</em></p>      
    </div>
  </div>
</div>

<!-- <script src="/js/files-uploader.js" type="text/javascript"></script> -->
