<div class="header container-fluid">
  <div class="jumbotron">
    <h1 class="spacer-lg-top">Votre prochaine épreuve sportive commence ici</h1>
    <div class="row">
      <div class="col-8 mx-auto spacer-xs-top">
        <form id="all-event-filter bg-light text-capitalize" action="">
          <div class="d-flex bg-light">
            <div class="flex-shrink-1 my-auto p-3">
              <i class="fa fa-search d-block" aria-hidden="true"></i>
            </div>
            <div class="w-100 pr-2 my-auto ">
              <input id="lieuFilter" name="city" type="text" class="form-control border-0" value="{{queries.city}}" placeholder="Recherche par ville ...">
            </div>                
            <div id="finder-button-desktop" class="flex-shrink-1 float-right">
              <button id="finder-submit-button" type="submit" class="btn btn-default rounded-0">Rechercher</button>
            </div>
          </div>
          <div class="row">
            <div id="eventSearchBar" class="col-lg-3 col-md-6">
              <div class="input-group spacer-sm-top">
                <select class="form-control" id="exampleFormControlSelect1" name="year">
                  <option selected value="">Année</option>
                  {{#each date_list.year}}
                    <option value="{{this.value}}">{{this.value}}</option>
                  {{/each}}
                </select>
              </div>             
            </div>
            <div id="eventSearchBar" class="col-lg-3 col-md-6">
              <div class="input-group spacer-sm-top">
                <select class="form-control" id="exampleFormControlSelect1" name="month">
                  <option selected value="">Mois</option>
                  {{#each date_list.month}}
                    <option value="{{this.value}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>             
            </div>
            <div id="eventSearchBar" class="col-lg-3 col-md-6">
              <div class="input-group spacer-sm-top">
                <select class="form-control" id="exampleFormControlSelect1" name="discipline">
                  <option selected value="">Discipline</option>
                  {{#each discipline_list}}
                    <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>             
            </div>
            <div id="eventSearchBar" class="col-lg-3 col-md-6">
              <div class="input-group spacer-sm-top">
                <select class="form-control" id="exampleFormControlSelect1" name="activate">
                  <option value="">Tout le calendrier</option>
                  <option value="on">Inscriptions en ligne</option>
                </select>
              </div>             
            </div>

          </div>
          <div class="row">
            <div id="finder-button-mobile" class="col-12 text-center mt-2"></div>
          </div>          
        </form>
      </div>       
    </div>
  </div>

</div>
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-sm-12  mt-5 mt-3 ">
      <div class="row">
        <div class="col-12 d-flex my-3">
          <h2 class="d-block font-weight-bold">Calendrier </h2><span class="text-muted d-block my-auto ml-3">({{data.event.length}} résultats)</span>
        </div>
      </div>
      {{#each data.event}}
        <div class="row p-2 border border-top-0 border-right-0 border-left-0">
          <!-- date -->
          <div class="col-md-2 col-sm-6 rounded bg-light p-2 my-auto text-center">
            <div class="d-block">
              <small class="d-block text-uppercase text-danger font-weight-bold">{{dateMonthText this.epreuves.0.date_debut}}</small>
              <span class="d-block h3 text-dark font-weight-bold my-2">
                {{dateDay this.epreuves.0.date_debut}}
              </span>
              <small class="d-block text-muted">
                {{dateFullYear this.epreuves.0.date_debut}}
              </small>                
            </div>
          </div>

          <!-- event city -->
          <div class="col-md-2 col-sm-6 pl-3 pr-3 my-auto">
            <small class="text-capitalize city font-weight-bold d-block mb-2"> <i class="fa fa-map-marker" aria-hidden="true"></i> {{this.adresse.ville}}</small>
            <!-- labels -->
            {{#if this.paiement}}
              <i class="fa fa-credit-card-alt text-success" aria-hidden="true" title="le paiement en ligne est accepté"></i>
            {{else}}
              <i class="fa fa-credit-card-alt text-muted" aria-hidden="true" title="le paiement en ligne n'est pas accepté"></i>
            {{/if}}
            {{#if this.certificat_required}}
              <i class="fa fa-file text-success spacer-xs-left" title="le certificat médical est requis pour s'inscrire"></i>
            {{else}}
              <i class="fa fa-file text-muted spacer-xs-left" title="le certificat médical n'est pas requis pour s'inscrire"></i>
            {{/if}}                   
            {{#if this.dons}}
              <i class="fa fa-gratipay text-success spacer-xs-left" aria-hidden="true" title="L'événement accepte les dons"></i>
            {{else}}
              <i class="fa fa-gratipay text-muted spacer-xs-left" aria-hidden="true" title="L'événement n'accepte pas les dons"></i>
            {{/if}}                    
          </div>

          
          <div class="col-md-5 col-sm-6 my-auto">
            <!-- event name -->
            {{#if this.source}}
              <span class="text-lowercase text-center text-dark"><strong>{{utf8 this.name}}</strong></span>
            {{else}}
              <a href="/event/{{this.id}}">
                <span class="text-lowercase text-center text-dark"><strong>{{utf8 this.name}}</strong></span>
              </a>
            {{/if}}                   
          </div>  

          <!-- CTA -->
          <div class="col-md-3 col-sm-6 my-auto text-center float-right">

            <a class="btn btn-outline-primary spacer-xs-bottom border-0 font-weight-bold" href="/event/{{this.id}}"><span class="border boder-2 border-right-0 border-left-0 border-top-0">En savoir +</span></a>                    
             
          </div>
        </div>        
      {{/each}}

      <div class="row spacer-sm-top alert alert-warning text-center">
        <div class="col-sm-12">
          <p>Votre évènement n'est pas dans le calendrier ou n'est pas ouverte aux inscriptions ?</p>
          <a href="/event/create"><button class="btn btn-default bottom-spacer-xs-top spacer-sm-bottom"><i class="fa fa-plus"></i> Ajouter un évènement</button></a>
        </div>

      </div>      
    </div>

    <!-- sidebar -->
    <div class="col-lg-4 col-sm-12 pl-4 bg-light ">
      <div class="row sticky-top">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <h3 class="h4 pt-5 pb-3 text-center mt-2 d-block font-weight-bold">A découvrir</h3>
            </div>
          </div>
          <!-- dispalay posts -->
          {{#each data.posts}}
            <div class="row border border-top-0 border-left-0 border-right-0 mb-3">
              <div class="col-12 pb-3">
                <span class="d-block font-weight-bold mb-2">{{this.titre}}</span>
                <small class="d-block text-muted mb-3">Publié le: {{this.published_date}}</small>

                <!-- video youtube -->
                {{#if this.youtube_id}}
                  <iframe height="315" src="https://www.youtube.com/embed/{{this.youtube_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-100"></iframe>
                {{else if this.featured_image}}
                  <img src="{{this.featured_image}}" alt="{{this.titre}}" class="img-fluid mb-2">
                {{/if}}
                
                <!-- inscription cta -->
                {{#if this.event_id}}
                  <a href="/event/{{this.event_id}}" class="btn btn-outline-primary d-block">S'inscrire à cette épreuve</a>
                {{/if}}
                
              </div>
            </div>             
          {{/each}}

          <div class="row">
           <div class="col-12 text-center mt-3 mb-5">
             <a href="/newsfeed" class="btn btn-default">Voir toutes les découvertes</a>
           </div>
         </div>                   
        </div>
      </div>
    </div>
  </div>
  


</div>