<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-3">
      <h1>Découvrir un événement</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- dispalay posts -->
      {{#each posts}}
        <div class="row border border-top-0 border-left-0 border-right-0 mb-3">
          <div class="col-12 pb-3">
            <span class="d-block font-weight-bold mb-2">{{this.titre}}</span>
            <small class="d-block text-muted mb-3">Publié le: {{this.published_date}}</small>

            <!-- video youtube -->
            {{#if this.youtube_id}}
              <iframe height="315" src="https://www.youtube.com/embed/{{this.youtube_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-100"></iframe>
            {{else if this.featured_image}}
              <img src="{{this.featured_image}}" alt="{{this.titre}}" class="img-fluid">
            {{/if}}
            
            {{#if this.blog_post}}
              <!-- short_text -->
              {{#if this.short_text}}
                <em class="d-block pt-2 pb-2 font-weight-bold">{{this.short_text}}</em>
              {{/if}}
              <a href="/newsfeed/{{this._id}}" class="btn btn-outline-primary d-block">Lire l'article</a>
            {{else}}
              <!-- short_text -->
              {{#if this.short_text}}
                <em class="d-block pt-2 pb-2 font-weight-bold">{{this.short_text}}</em>
              {{/if}}

              <!-- long_text -->
              {{#if this.long_text}}
                <p class="d-block pt-2 pb-2">{{{this.long_text}}}</p>
              {{/if}}

              <!-- inscription cta -->
              {{#if this.event_id}}
                <a href="/event/{{this.event_id}}" class="btn btn-outline-primary d-block">S'inscrire à cette épreuve</a>
              {{/if}}            
            {{/if}}

          </div>
        </div>          
      {{/each}}        
    </div>
    <div class="col-md-4">
      <div class="d-block sticky-top pt-3">
        <div class="d-block bg-light p-3 pt-5 pb-5 border">
          <h3 class="mb-3 d-block">Newsletter</h3>
          <span class="d-block mb-3">
            <strong>
              Recevez chaque semaine un résumé des derniers événements à découvrir, par email.
            </strong>
          </span>
          <span class="d-block">
            <!-- SendinBlue Signup Form HTML Code -->
            <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2wjr4/id/2" method="POST">
              <input type="hidden" name="js_id" id="js_id" value="2wjr4">
              <input type="hidden" name="listid" id="listid" value="21">
              <input type="hidden" name="from_url" id="from_url" value="yes">
              <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
              <input type="hidden" name="sib_simple" value="simple">
              <input type="hidden" name="sib_forward_url" value="https://event.izir.fr/event/newsfeed" id="sib_forward_url">
              <div class="form-group">
                <input type="email" name="email" id="email" value="" data-kwimpalastatus="alive" data-kwimpalaid="1542898883095-2" class="form-control" placeholder="votre@email.ici">
              </div>
              <button class="btn btn-outline-danger " type="submit" data-editfield="subscribe">S'inscrire</button>
            </form>
          </span>
        </div>
        <div class="d-block bg-light p-3 pt-5 pb-5 mt-3">
          <h3 class="mb-3 d-block">Organisateur ?</h3>
          <span class="d-block mb-3">
            <strong class="d-block">
              Envoyez-nous vos articles, vidéos, photos et bannières de votre évènement*.
            </strong>
            <em class="d-block mt-2">Besoin d'aide pour création de votre contenu? Nous nous ferons un plaisir de vous conseiller.</em>
            
          </span>
          <span class="d-block mt-3">
            <a href="mailto:serviceclient@izir.fr" class="btn btn-outline-primary">Publier un article</a>
            <small class="d-block text-muted mt-3">*Les publications dans cette section sont gratuites. Notre équipe se réserve le droit de refuser un contenu de mauvais qualité.</small>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>