<div class="header container-fluid">
	<div class="jumbotron">
		<h1>Catalogue Organisateur</h1>
		<p class="text-light"><strong>Tous les produits pour votre prochain événement au meileur prix.</strong></p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 spacer-xs-bottom">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Accueil</a></li>
					<li class="breadcrumb-item active" aria-current="page">Catalogue</li>
					<li class="float-right"><a href="/catalogue/panier/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Panier  <span class="badge badge-dark">{{session.cart.totalQty}}</span> </a></li>	
				</ol>
			</nav>	
		</div>
	</div>
	<div class="row">
		{{#each products}}
		<div class="col-sm-6 col-md-4 col-lg-3 text-center border">
			<div class="row spacer-xs-bottom">
				<div class="col-12">
					<a href="/catalogue/produit/{{this.id}}"><img src="{{this.images.0.url}}" alt="{{this.name}}" class="img img-fluid catalogue-main-img"></a>
				</div>
			</div>
			<div class="row spacer-sm-bottom">
				{{#each images}}
					{{#if @first}}
					{{else}}
					<div class="col-sm-6 col-md-4">
						<a href="/catalogue/produit/{{../this.id}}"><img src="{{this.url}}" alt="{{../this.name}}" class="img img-fluid catalogue-secondary-img"></a>
					</div>	
					{{/if}}
				{{/each}}
			</div>
			<div class="row bg-light">
				<div class="col-12 spacer-xs-top spacer-xs-bottom">
					<strong><a href="/catalogue/produit/{{this.id}}">{{this.name}}</a></strong>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<span>{{this.categorie}} | {{this.brand}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="row spacer-xs-bottom spacer-xs-top">
						<div class="col-6">
							<div class="row">
								<div class="col-12">
									<span>Prix Event.Izir</span>
								</div>
								<div class="col-12">
									<span class="text-danger"><strong>{{this.public_price}}€</strong></span>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="row">
								<div class="col-12">
									<span>Prix Catalogue</span>
								</div>
								<div class="col-12">
									<span><strong>{{this.price}}€</strong></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 spacer-xs-bottom">
					<a href="/catalogue/add/{{this.id}}" class="btn btn-outline-primary" role="button">Ajouter au devis</a>
				</div>
			</div>
		</div>
		{{/each}}			
	</div>


</div>