<div class="container-fluid">
  <div class="row bg-dark-blue">
    <div class="col-12 text-center mt-3 pt-4 pb-5">
      {{#if profil.organisateur}}
        <a href="/organisateur/epreuves" class="btn btn-outline-light border-0 m-2"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>Mes événements</a>
        <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <a href="/event/{{event.id}}/dashboard" class="btn btn-outline-light border-0 m-2">{{event.name}}</a>
        <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <a href="/event/{{event.id}}" class="btn btn-outline-light m-2" ><i class="fa fa-eye mr-2"></i>Voir</a>
        <a href="/event/{{event.id}}/dashboard" class="btn btn-outline-light m-2"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Configurer</a>
        <a href="/inscription/recap/organisateur/{{event.id}}" class="btn btn-outline-light m-2"><i class="fa fa-users mr-2 "></i>Participants</a>
        <a href="#" class="btn btn-outline-light m-2"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Communiquer</a>
        <a href="/chronometrage/event/{{event.id}}" class="btn btn-light m-2"><i class="fa fa-file mr-2"></i>Chronométrage</a>
        <a href="/organisateur/comptabilite/{{user.id}}" class="btn btn-outline-light m-2"><i class="fa fa-university mr-2"></i>Comptabilité</a>
        <a href="/catalogue" class="btn btn-outline-light m-2"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Lots</a>      
      {{/if}}
      {{#if profil.chronometreur}}
        <a href="/chronometrage/epreuves" class="btn btn-outline-light border-0 m-2"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>Mes événements</a>
        <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <a href="/chronometrage/epreuves/{{event.id}}" class="btn btn-outline-light border-0 m-2">{{event.name}}</a>
        <span class="d-inline-block mx-3 text-white"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <a href="/event/{{event.id}}" class="btn btn-outline-light m-2" ><i class="fa fa-eye mr-2"></i>Voir</a>
        <a href="/chronometrage/event/{{event.id}}" class="btn btn-light m-2"><i class="fa fa-file mr-2"></i>Chronométrage</a>    
      {{/if}}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-light">
      <div class="row">
        <div class="col-10 mx-auto">
          <h2 class="mt-4 mb-4">Chronométreur de l'épreuve</h2>
          {{#if event.chronometreur}}
          <ul>
            <li>Pseudo : {{event.chronometreur.username}}</li>
            <li>Nom : {{event.chronometreur.name}}</li>
            <li>Prénom : {{event.chronometreur.surname}}</li>
            <li>Email : <a href="mailto:{{event.chronometreur.email}}">{{event.chronometreur.email}}</a></li>
            <li>Téléphone fixe : {{event.chronometreur.foneFix}}</li>
            <li>Téléphone portable : {{event.chronometreur.fonePort}}</li>
          </ul>
          {{else}}
            <div class="alert alert-warning text-center" role="alert">
              Aucun chronométreur n'est actuelement rattaché à votre évévement. En rattachant un chronométreur à votre épreuve, celui aura accès directement au fichier de chronométrage.
            </div>
            <form method="post" action="/chronometrage/event/{{event.id}}/chronometreur/add">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="chronometreur_email">Email "pro" du chronométreur</label>
                    <input type="email" class="form-control" name="chronometreur_email" placeholder="name@example.com">
                  </div>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary mt-4">Ajouter</button>
                </div>
              </div>
            </form>
          {{/if}}          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto mt-5">
      <div class="alert alert-info text-center" role="alert">
        Les inscriptions de cet événement sont cloturées le : {{date event.date_cloture_inscription}} à {{dateHours event.date_cloture_inscription}}h{{dateMinutes event.date_cloture_inscription}}
      </div>      
    </div>
  </div>
  <div class="row"> 
    <div class="col-10 mx-auto">
      <h2 class="mt-4 mb-5">Choisissez votre fichier de chronométrage :</h2>
      <div class="row">
        <div class="col-md-6">
          <span class="h4 d-block"><i class="fa fa-file spacer-xs-right"></i>GMCAP</span>
          <a href="/chronometrage/file/gmcap/{{event.id}}" class="mt-2 d-block"><i class="fa fa-cloud-download spacer-xs-right mt-4" aria-hidden="true"></i>{{event.id}}.txt</a>
          <strong class="d-block mt-4 mb-4">Difficulté : <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></strong>
          <strong class="d-block mt-4">Utilisation :</strong>
          <div class="alert alert-light">
            Fichier en ".txt" formaté conformément aux contraintes transmises par Gilles Mevel, créateur de GMCap.
            <br>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> NE PAS APPORTER DE MODIFICATION MANUELLE, sous peine de provoquer des erreurs lors de l'import.
          </div>          
          <div class="alert alert-light">
            <ul>
              <li>1. Cliquez sur le fichier "XXX.txt" pour démarer le téléchargement.</li>
              <li>2. Ouvrir GMCap. </li>
              <li>3. Cliquer sur fichier > importer > fichier texte... </li>
              <li>4. Selectionner le fichier téléchargé à l'étape "1."</li>
            </ul>
          </div>  
          <div class="alert alert-light">
            Si vous vez déjà un évènement de crée, il faut veuiller à ce que les noms d'épreuve soit identique à la virgule et accent prêt pour que les fichiers soient fusionnés.
          </div> 
        </div>
        <div class="col-md-6">
          <span class="h4 d-block"><i class="fa fa-file spacer-xs-right"></i>EXCEL</span>
          <a href="/chronometrage/file/excel/{{event.id}}" class="mt-2 d-block"><i class="fa fa-cloud-download spacer-xs-right mt-4" aria-hidden="true"></i>{{event.id}}.csv</a>
          <strong class="d-block mt-4 mb-4">Difficulté : <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></strong>
          <strong class="d-block mt-4">Utilisation :</strong>
          <div class="alert alert-light">
            Le moyen le plus simple de recupérer et manipuler le listing des inscrits pour gérer l'émmargement et le chronométrage sur le site de l'épreuve.
          </div>          
          <div class="alert alert-light">
            <ul>
              <li>1. Cliquer sur le fichier "XXX.csv" pour démarer le téléchargement.</li>
              <li>2. Ouvrir Excel. </li>
              <li>3. Cliquer sur fichier > ouvrir > aller à votre dossier de téléchargement</li>
              <li>3.bis. Si le fichier n'apparait pas, sélectionner "Tous les fichiers (*.*)" dans le menu déroulant au dessous de ouvrir</li>
              <li>4. Sélectionner le fichier téléchargé à l'étape "1.", puis cliquer sur "ouvrir"</li>
            </ul>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>